<ion-header>
    <ion-navbar color="navbarColor">
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
	   <ion-list>
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/imgs/csc_icon_red.png">
			</ion-avatar>
		<h2>Hi, {{brmService.currentUser?.Fullname}}</h2>
		<p>&nbsp;</p>
		</ion-item>
	</ion-list>
        <!--ion-grid>
          <ion-row justify-content-start align-items-center>
            <ion-col col-6>
			<ion-row>
		  <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
		  </ion-row>
			</ion-col>
            <ion-col col-4>
              <button ion-button color="dark" item-end icon-left round class="header-status-button" (click)="casinocoinService.handleNetworkConnection()">
                <ion-icon name="icon-network" [color]="connectedColor"></ion-icon><font size="1">{{connectedText}}</font>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid-->
      </ion-title>
    </ion-navbar>
  </ion-header>
  
  <ion-content [ngClass]="{'userInactive': !brmService.currentUser.Active }" padding>
  <h3 text-center>Transaction History</h3>
  <h4 text-left>Wallet</h4>
    <ion-card padding>
      <!--ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/csc_icon_red.png">
        </ion-avatar>
        <h1>{{brmService.currentUser?.Firstname}}</h1>
        <p>Account: {{defaultAccount?.accountID}}</p>
      </ion-item-->
	  <h2 text-center>CSC Balance</h2>
		<h1 text-center>{{brmService.formatBalance(walletBalance)}} CSC</h1>
    </ion-card>
	<div text-center class="esti">Estimated FIAT Balance: {{fiatBalance}} </div>
	
    <!--ion-item-group>
      <ion-item-divider color="light"><font size="5">Wallet</font></ion-item-divider>
      <ion-item>
        <ion-row justify-content-start align-items-center>
          <ion-col>Balance</ion-col>
          <ion-col><b>{{walletBalance}} <font color="#666">CSC</font></b></ion-col>
        </ion-row>
      </ion-item>
      <ion-item>
        <ion-row justify-content-start align-items-center>
          <ion-col>Estimated FIAT Balance</ion-col>
          <ion-col><b>{{fiatBalance}} <font color="#666">USD</font></b></ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group-->
	
	<h4 text-left>History</h4>
	<ion-item-group>
      <ion-item *ngFor="let tx of transactions; let i = index" (click)='trasactionDetails(tx)' >
        
         <ion-avatar item-start>
              <ion-icon [name]="getTransactionIcon(tx, i)"[color]="getTransactionColor(tx, i)"></ion-icon>
          </ion-avatar>
          <p>{{tx.timestamp | cscDate : 'dd MMM HH:mm:ss'}} <span style="padding-left:15px;font-weight:bold">{{getTransactionText(tx, i)}}</span><br><span style="color:#000000;"><b>{{tx.amount | cscAmount : true : true}}</b></span> </p>
              <!--span class="text-large">{{tx.timestamp | cscDate : 'dd'}}</span>
              <span class="text-small-bottom">{{tx.timestamp | cscDate : 'MMM' | uppercase}}</span>
              <span class="text-large">{{tx.timestamp | cscDate : 'HH'}}</span>
              <span class="text-small-top" >{{tx.timestamp | cscDate : ':mm:ss'}}</span-->
          
         
         
      </ion-item>
    </ion-item-group>
	
    <!--ion-item-group>
      <ion-item-divider color="light"><font size="5">{{transaction_count}} {{(transaction_count == 1) ? 'Transaction' : 'Transactions'}}</font></ion-item-divider>
      <ion-item *ngFor="let tx of transactions; let i = index">
        <ion-row>
          <ion-col col-1>
              <ion-icon [name]="getTransactionIcon(tx, i)"[color]="getTransactionColor(tx, i)"></ion-icon>
          </ion-col>
          <ion-col>
              <span class="text-large">{{tx.timestamp | cscDate : 'dd'}}</span>
              <span class="text-small-bottom">{{tx.timestamp | cscDate : 'MMM' | uppercase}}</span>
              <span class="text-large">{{tx.timestamp | cscDate : 'HH'}}</span>
              <span class="text-small-top" >{{tx.timestamp | cscDate : ':mm:ss'}}</span>
          </ion-col>
          <ion-col>{{getTransactionText(tx, i)}}</ion-col>
          <ion-col>{{tx.amount | cscAmount : false : true}}</ion-col>
        </ion-row>
      </ion-item>
    </ion-item-group-->
	
  </ion-content>