page-about {

	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	padding:4px 0px;
	}
	.back-button-ios{
		padding-left:16px;
	}
	
	h2 {  
	color:#bf0a0a;
		/*font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
		font-weight:bold;
		font-size:18px;
	}
	p {
	line-height:1.6em;
	}
	
	.alignleft {
		float: left;
		color: #bf0a0a;
	}
	.alignright {
		float: right;
		color: #bf0a0a;
	}
	
	.toolbar-content-md, .toolbar-content-ios {
		padding:0px;
	}
}
