<ion-header [hidden]="!showHeader">

  <div class="progress-bar-outer">
    <div class="progress-bar-inner">
      <div class="progress-bar-red" [style.width]="progressBarPercent"></div>
    </div>
  </div>

  <ion-navbar color="brand">
    <ion-title>
      <button ion-button clear icon-start class="topnavbtn" (click)="previousStep()" *ngIf="previousStepEnabled">
        <ion-icon class="ion-ios-arrow-back"></ion-icon>
      </button>
      {{appTitle}}
    </ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <div *ngIf="stepIndex === 0">
    <h4>Personal Information</h4>
    <form [formGroup]="fgPersonalInfo">

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Full Name as per ID</ion-label>
            <ion-input type="text" formControlName="fullName" placeholder="" #fullName></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('fullName').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgPersonalInfo.get('fullName').touched &&  fgPersonalInfo.get('fullName').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Email</ion-label>
            <ion-input type="email" formControlName="emailaddress" placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('emailaddress').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgPersonalInfo.get('emailaddress').touched && fgPersonalInfo.get('emailaddress').invalid">
            </ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-label stacked>Mobile</ion-label>
          <ion-row class="mobilec">
            <ion-col col-2 (click)="selectCountry('country')">
              <img src="assets/flags/{{selectedCountry?.cca3.toLowerCase() ? selectedCountry?.cca3.toLowerCase() : 'gbr'}}.svg" />
            </ion-col>
            <ion-col col-3 (click)="selectCountry('country')">
              +{{selectedCountry?.callingCode ? selectedCountry?.callingCode : '44'}}</ion-col>
            <ion-col col-7>
              <ion-item class="mobi">
                <ion-input type="number" formControlName="telephone" placeholder=" "></ion-input>
                <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('telephone').valid"></ion-icon>
                <ion-icon item-end name="md-close"
                  *ngIf="fgPersonalInfo.get('telephone').touched && fgPersonalInfo.get('telephone').invalid"></ion-icon>
              </ion-item>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-right">
          <button ion-button type="button" (click)="nextStep()" [disabled]="!nextStepEnabled" class="mybtn top30">
            Continue
            <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

    </form>
  </div>



  <div *ngIf="stepIndex === 1">
    <h4>Personal Information</h4>
    <form [formGroup]="fgContactInfo">

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Gender</ion-label>
            <ion-select formControlName="gender">
              <ion-option value="Female">Female</ion-option>
              <ion-option value="Male">Male</ion-option>
            </ion-select>
            <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('gender').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgContactInfo.get('gender').touched && fgContactInfo.get('gender').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item *ngIf="!isCordova">
            <ion-label stacked>Date of Birth</ion-label>
            <ion-datetime type="date" formControlName="dateOfBirth" displayFormat="DD-MMM-YYYY"
              (click)="selectDateOfBirth()" ></ion-datetime>
            <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('dateOfBirth').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgContactInfo.get('dateOfBirth').touched && fgContactInfo.get('dateOfBirth').invalid"></ion-icon>
          </ion-item>
          <ion-item *ngIf="isCordova">
            <ion-label stacked>Date of Birth</ion-label>
            <ion-input type="text" formControlName="dobDisplay" (ionFocus)="selectCordovaDateOfBirth()" #birthDate
              readonly class="datepicker-font"></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('dateOfBirth').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgContactInfo.get('dateOfBirth').touched && fgContactInfo.get('dateOfBirth').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col [class.ng-invalid]="!fgContactInfo.get('nationality').valid"
          [class.ng-valid]="fgContactInfo.get('nationality').valid">
          <ion-item>
            <ion-label stacked>Nationality</ion-label>
            <ion-input type="text" [readonly]="true" formControlName="nationality"
              (ionFocus)="selectCountry('nationality')" tappable placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('nationality').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgContactInfo.get('nationality').touched && fgContactInfo.get('nationality').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col [class.ng-invalid]="!fgContactInfo.get('country').valid"
          [class.ng-valid]="fgContactInfo.get('country').valid">
          <ion-item>
            <ion-label stacked>Country</ion-label>
            <ion-input type="text" [readonly]="true" formControlName="country" (ionFocus)="selectCountry('country')"
              tappable placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('country').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgContactInfo.get('country').touched && fgContactInfo.get('country').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-right">
          <button ion-button type="button" (click)="nextStep()" [disabled]="!nextStepEnabled" class="mybtn top30">
            Continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>

    </form>
  </div>



  <div *ngIf="stepIndex === 2">
    <h4>Address Information</h4>
    <form [formGroup]="fgAddressInfo">

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Address</ion-label>
            <ion-input type="text" formControlName="housenumber" clearInput placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('housenumber').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgAddressInfo.get('housenumber').touched && fgAddressInfo.get('housenumber').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Address 2 (Optional)</ion-label>
            <ion-input type="text" formControlName="street" clearInput placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark"
              *ngIf="fgAddressInfo.get('street').touched && fgAddressInfo.get('street').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgAddressInfo.get('street').touched && fgAddressInfo.get('street').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col *ngIf="statesAvailable">
          <ion-item>
            <ion-label stacked>State (Optional)</ion-label>
            <ion-select formControlName="state" (ionCancel)="onStateCancel()">
              <ion-option *ngFor="let state of countryStates" [value]="state">{{state}}</ion-option>
            </ion-select>
            <ion-icon item-end name="md-checkmark"
              *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').invalid"></ion-icon>
          </ion-item>
        </ion-col>
        <ion-col *ngIf="!statesAvailable">
          <ion-item>
            <ion-label stacked>State (Optional)</ion-label>
            <ion-input type="text" formControlName="state" clearInput placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark"
              *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>City</ion-label>
            <ion-input type="text" formControlName="city" clearInput placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('city').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgAddressInfo.get('city').touched && fgAddressInfo.get('city').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item class="tapalcode">
            <ion-label stacked>Postal Code</ion-label>
            <ion-input type="text" formControlName="postalcode" clearInput placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('postalcode').valid"></ion-icon>
            <ion-icon item-end name="md-close"
              *ngIf="fgAddressInfo.get('postalcode').touched && fgAddressInfo.get('postalcode').invalid"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-right">
          <button ion-button type="button" (click)="nextStep()" [disabled]="!nextStepEnabled" class="mybtn top20">
            Continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>

    </form>
  </div>



  <div *ngIf="stepIndex === 3">
    <h4>Confirmation</h4>

    <ion-list class="kyccontainer">
      <ion-item>
        <span [ngClass]="{'username': userProfile.Fullname.length > 30 }">Name</span>
        <b>{{userProfile.Fullname}}</b>
      </ion-item>
      <ion-item>
        <span [ngClass]="{'username': userProfile.Emailaddress.length > 30 }">Email </span>
        <b>{{userProfile.Emailaddress}}</b>
      </ion-item>
      <ion-item>
        <span>Mobile </span>
        <b>{{userProfile.Telephonenumber}}</b>
      </ion-item>
      <ion-item>
        <span>Gender </span>
        <b>{{userProfile.Gender}} </b>
      </ion-item>
      <ion-item>
        <span>Date of Birth </span>
        <b>{{userProfile.DateOfBirth | date: 'dd-MMM-yyyy'}} </b>
      </ion-item>
      <ion-item>
        <span class="adr">Address </span>
        <b>
          <div>
            {{userProfile.Housenumber}},
            <b *ngIf="userProfile.Street"> {{userProfile.Street}},</b>
            {{userProfile.City}},
            {{userProfile.PostalCode}},
            <b *ngIf="userProfile.State"> {{userProfile.State}},</b>
            {{userProfile.Country}}
          </div>
        </b>
      </ion-item>
    </ion-list>

    <ion-row>
      <ion-col col-6>
        <button ion-button (click)="editFields()" class="mybtn-secondary"> Edit </button>
      </ion-col>
      <ion-col col-6>
        <button ion-button (click)="nextStep()" class="mybtn-red"> Confirm </button>
      </ion-col>
    </ion-row>
  </div>



  <div class="upload-container" *ngIf="stepIndex === 4">
    <h4>Verification</h4>

    <ul class="verify">
      <li data-type="id-card">
        Government-issued ID
        <span>E.g. passport, driver's license, identity card</span>
      </li>
      <li data-type="selfie">
        Selfie Photo
        <span>Using your smartphone camera</span>
      </li>
      <li data-type="utility-bill">
        Utility Bill
        <span>Within the last three months</span>
      </li>
    </ul>
    <ion-row>
      <ion-col text-center>
        <button class="roundbtn" (click)="startNetverify()" *ngIf="jumioDocUploaded !== 2">
          <ion-icon name="camera"></ion-icon>
        </button>
        <p text-center *ngIf="jumioDocUploaded === 0">Click here to begin verification</p>
        <p text-center *ngIf="jumioDocUploaded === 1">Your KYC Verification is in Progress. You can Continue or Click here to update verification</p>
        <p text-center *ngIf="jumioDocUploaded === 2">Verification in Progress</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="text-right">
        <button ion-button type="button" (click)="nextStep()" *ngIf="nextStepEnabled" class="mybtn top20">
          Continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
      </ion-col>
    </ion-row>
  </div>



  <div class="wallet-container" *ngIf="stepIndex === 5">
    <h4>Wallet PIN</h4>

    <p text-center *ngIf="!pinSubmitted"><span><b>Set your 6 digit PIN </b></span><br>to secure your wallet</p>
    <p text-center *ngIf="pinSubmitted && !pinVerified"><span><b>Confirm </b></span><br>your PIN </p>
    <p text-center *ngIf="pinSubmitted && pinVerified"><span><b>PIN Set Completed </b></span></p>
    <div text-center large margin-vertical class="doticons">
      <ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
      <ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    </div>
	<p text-center><img src="assets/imgs/wallet_pin_lock.png" width="100px;"></p>
    <p>&nbsp;</p>
    <p>&nbsp;</p>
    <div *ngIf="pinVerified">
      <ion-row>
        <ion-col class="text-right">
          <button ion-button type="button" (click)="nextStep()" [disabled]="!nextStepEnabled" class="mybtn top20">
            Continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>
    </div>
  </div>



  <div class="rec-phrase" *ngIf="stepIndex === 6">
    <h4>PIN Code and Wallet Recovery Phrase</h4>
    <p>These ten words together with your signup email address are the <b>only way</b> to recover your wallet.
      <b>Please write them down and store them securely offline.</b>
    </p>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">1 </span><span>{{recoveryMnemonicWords[0]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">2 </span><span>{{recoveryMnemonicWords[1]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">3 </span><span>{{recoveryMnemonicWords[2]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">4 </span><span>{{recoveryMnemonicWords[3]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">5 </span><span>{{recoveryMnemonicWords[4]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">6 </span><span>{{recoveryMnemonicWords[5]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">7 </span><span>{{recoveryMnemonicWords[6]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">8 </span><span>{{recoveryMnemonicWords[7]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">9 </span><span>{{recoveryMnemonicWords[8]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">10
            </span><span>{{recoveryMnemonicWords[9]}}</span></ion-col>
        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col col-12 class="gridtxt">
          <div class="grid-info"> <img width="44" height="auto" src="assets/imgs/ic_error.png" /></div>
          <div>Do not save your recovery phrase on your device! Write it down or print a copy
            and store it safely offline.</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-right">
          <button ion-button type="button" (click)="nextStep()" [disabled]="!nextStepEnabled" class="mybtn top20">
            Continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>

    </div>
  </div>



  <div *ngIf="stepIndex === 7">
    <h4>Confirm Recovery Phrase</h4>
    <form [formGroup]="fgRecoveryPhaseCheck">
      <p>To make sure everything was written down correctly, please enter the following words from Recovery Phrase.</p>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Word #{{randomNumberWordOne}}</ion-label>
            <ion-input type="text" formControlName="wordOne" placeholder=""></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="randomNumberWordOneCorrect"></ion-icon>
            <ion-icon item-end name="md-close" *ngIf="!randomNumberWordOneCorrect"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col>
          <ion-item>
            <ion-label stacked>Word #{{randomNumberWordTwo}}</ion-label>
            <ion-input type="text" formControlName="wordTwo" placeholder=" "></ion-input>
            <ion-icon item-end name="md-checkmark" *ngIf="randomNumberWordTwoCorrect"></ion-icon>
            <ion-icon item-end name="md-close" *ngIf="!randomNumberWordTwoCorrect"></ion-icon>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-right">
          <button ion-button type="button" (click)="nextStep()" [disabled]="!nextStepEnabled" class="mybtn top20">
            Continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
        </ion-col>
      </ion-row>
      
    </form>
  </div>

  

  <div *ngIf="stepIndex === 8">

    <div class="accountcreation-box">
      <div style="text-align:center;padding-top:50px;">
        <ion-row>
          <ion-col text-center>
            <ion-spinner name="ios" color="brand" class="account-activate" *ngIf="!walletCreationFail && !walletCreationSuccess"></ion-spinner>
            <button class="roundbtn-white" *ngIf="walletCreationSuccess">
              <img src="assets/imgs/icon_check_red.png" width="85px" height="auto" />
            </button>
            <button class="roundbtn-white" *ngIf="walletCreationFail">
              <img src="assets/imgs/icon_failed_red.png" width="85px" height="auto" />
            </button>
          </ion-col>
        </ion-row>
    
        <ul class="list-unstyled">
          <li>
            <ion-icon name="checkmark" color="connected" *ngIf="accountCreated"></ion-icon>
            <ion-icon name="close" color="brand" *ngIf="accountCreatedFailed"></ion-icon>
            <span>Account Creation</span>
          </li>
          <li>
            <ion-icon name="checkmark" color="connected" *ngIf="cscConnected"></ion-icon>
            <ion-icon name="close" color="brand" *ngIf="cscConnectedFailed"></ion-icon>
            <span>Connect to CasinoCoin Server</span>
          </li>
          <li>
            <ion-icon name="checkmark" color="connected" *ngIf="accountActivated && accountCreated"></ion-icon>
            <ion-icon name="close" color="brand" *ngIf="accountActivatedFailed"></ion-icon>
            <span>Account Activation</span>
          </li>
          <li>
            <ion-icon name="checkmark" color="connected" *ngIf="kycVerified"></ion-icon>
            <ion-icon name="close" color="brand" *ngIf="kycVerifiedFailed"></ion-icon>
            <span>Verification Status</span>
          </li>
        </ul>
      </div>
    </div>

  </div>

</ion-content>    



<!-- <div class="accountcreation-success" *ngIf="walletCreationSuccess"> -->
<div class="accountcreation-success" *ngIf="false">
  <div style="text-align:center;padding-top:160px;">
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/icon_check.png" width="85px" height="auto" />
      </ion-col>
    </ion-row>

    <ul class="list-unstyled">
      <li>
        <span><b>Account Creation</b></span>
      </li>
      <li>
        <span><b>Connect to CasinoCoin Server</b></span>
      </li>
      <li>
        <span><b>Account Activation</b></span>
      </li>
      <li>
        <span><b>Verification Status</b></span>
      </li>
    </ul>

    <div class="text-right">
      <button ion-button (click)="nextStep()" class="mybtn"> Go to my account <ion-icon item-end md="ios-arrow-forward"></ion-icon></button>
    </div>
  </div>
</div>

<div class="custom-kbcontainer" *ngIf="showCustomPin">
  <ion-grid text-center>
    <ion-row>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('1')">1</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('2')">2</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('3')">3</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('4')">4</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('5')">5</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('6')">6</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('7')">7</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('8')">8</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('9')">9</button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button round large outline (click)="clearPin()">Clear</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="handlePinInput('0')">0</button>
      </ion-col>
      <ion-col>
        <button ion-button round large outline (click)="backspacePin()">
          <ion-icon name="backspace"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</div>