<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>
      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 text-center>Change PIN Code</h2>
</ion-content>


<div class="duetopin" *ngIf="showPinDialog">
  <div *ngIf="!currentPinDone">
    <p text-center><span><b>Enter Current BRM</b></span><br>6 digit PIN</p>
  </div>
  <div *ngIf="currentPinDone">
    <p text-center *ngIf="!setPinDone"><span><b>Set your 6 digit PIN </b></span><br>to secure your wallet</p>
    <p text-center *ngIf="setPinDone"><span><b>Confirm </b></span><br>your PIN </p>
  </div>
  <div text-center large margin-vertical class="doticons">
    <ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
  </div>
  <div class="custom-kbcontainer">
    <ion-grid text-center>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('1')">1</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('2')">2</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('3')">3</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('4')">4</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('5')">5</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('6')">6</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('7')">7</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('8')">8</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('9')">9</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="clearPin()">Clear</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('0')">0</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="backspacePin()">
            <ion-icon name="backspace"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>