page-change-pin {
	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
    }
    .toolbar-title-ios {
        padding: 12px 12px 0px 12px;
    }
    .toolbar-ios {
        min-height:56px!important;
        padding:4px 0px;
    }
    .back-button-ios{
        padding-left:16px;
    }
    h2 {  
		color:#bf0a0a;
		/* font-family: 'Raleway', sans-serif; */
		font-family:"Europa";
		font-weight:700;
		font-size:18px;
	}

    .duetopin {
		bottom: 0px;
		position: absolute;
		width: 100%;
	}
	.duetopin p {
		font-size:21px;
		margin-bottom:40px;
    }
    .doticons ion-icon::before{
		padding:0px 2px;
    }
    .custom-kbcontainer {
        background-color:#f1f1f1;
        position:relative;
        width: 100%;
		z-index:200;
		padding:6px;
    }
	.custom-kbcontainer .grid {
        margin: 0px;
        padding: 0px;
        color: #000;
        margin-top: 0px !important;
	}
	.custom-kbcontainer .grid .col {
        background-color:#f1f1f1;
		padding:2px;
    }
    .custom-kbcontainer .button {
        background: #ffff;
        border-color: #cccccc;
        width: 100%;
        margin: 0px;
        padding: 10px;
        height:50px;
	}
}
