<ion-header>
	<ion-navbar color="brand">
		<button ion-button clear icon-start class="topnavbtn" (click)="loginCancel()" *ngIf="loginEntry">
			<ion-icon class="ion-md-arrow-back"></ion-icon>
		</button>
	</ion-navbar>
</ion-header>

<!--ion-content no-bounce -->
<!-- *ngIf="!recoveryShow" -->
<ion-content no-bounce class="bgimg"> 
	<div class="intro" *ngIf="!loginEntry" >
		<div class="intro-logo">
			<img src="assets/imgs/svg/logo_icon.svg" />
		</div>
		<div class="intro-txt"> CasinoCoin<br>
			<span>Bankroll Manager</span>
		</div>

		<ion-row *ngIf="!displayCustomPin">
			<ion-col>
				<button ion-button (click)="enterPIN()" class="mybtn-red" [disabled]="loginDisable"> Login </button>
			</ion-col>
		</ion-row>
		<ion-row *ngIf="!displayCustomPin">
			<ion-col (click)="forgotPin()">
				<p text-center>Forgot PIN Code?</p>
			</ion-col>
		</ion-row>
	</div>

	<div *ngIf="loginEntry">
		<div style="height:200px;">&nbsp;</div>
		<ion-input type="number" class="mask-text" [(ngModel)]="enteredPinCode" (ionChange)="validatePincode()"
		 #pinCodeViewChild></ion-input>
		<p text-center (click)="forgotPin()">Forgot PIN Code?</p>
		<div style="height:200px;">&nbsp;</div>
	</div>	
</ion-content>

<div class="duetopin">
	<div text-center large margin-vertical class="doticons" *ngIf="displayCustomPin">
		<ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
	</div>
	<div class="custom-kbcontainer" *ngIf="displayCustomPin">
		<ion-grid text-center>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('1')">1</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('2')">2</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('3')">3</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('4')">4</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('5')">5</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('6')">6</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('7')">7</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('8')">8</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('9')">9</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="cancelPin()">Cancel</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('0')">0</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="backspacePin()">
						<ion-icon name="backspace"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</div>


<!-- <ion-header *ngIf="recoveryShow">
    <ion-navbar color="brand">
		
		<ion-title>
		<button ion-button clear icon-start class="topnavbtn" (click)="cancel()" >
            <ion-icon class="ion-md-arrow-back"></ion-icon>
         </button>
		Recover PIN
		</ion-title>
    </ion-navbar>
</ion-header>
	
	
	<ion-content no-bounce *ngIf="recoveryShow" class="bgimg">
	<ion-card>
                <ion-card-content class="nocurv">
		
		<p text-center>Please enter the 8 words given during wallet setup in the same order as they appeared.</p>
		<ion-list>
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">1.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word1"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">2.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word2"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">3.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word3"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">4.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word4"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">5.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word5"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">6.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word6"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">7.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word7"></ion-input>
					</ion-item>
				</ion-col>
				<ion-col col-6>
					<ion-item>
						<ion-label color="primary">8.</ion-label>
						<ion-input [(ngModel)]="recoveryWords.word8"></ion-input>
					</ion-item>
				</ion-col>
			</ion-row>
		</ion-list>
		<ion-row>
			<ion-col>
		<p text-left>{{message}}</p>
		</ion-col>
		</ion-row>
		<ion-row>
			<ion-col>
				<button ion-button (click)="recoverPin()" class="mybtn"> Recover PIN </button>
			</ion-col>
		</ion-row>
		
                </ion-card-content>
		</ion-card>
	</ion-content> -->