<ion-header>
  <ion-navbar color="navbarColor">
      <ion-title>
      
          <button ion-button clear icon-start class="topnavbtn" (click)="dismiss()">
                    <ion-icon class="ion-md-arrow-back"></ion-icon>
                </button>
              <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" class="himg" />
          
        </ion-title>
    <!--ion-title>
      <ion-grid>
        <ion-row justify-content-start align-items-center>
          <ion-col>
		  <ion-row>
		  <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
		  </ion-row>
		  </ion-col>
          <ion-col text-right>
            <button ion-button color="light" clear (click)="dismiss()">< Back</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title-->
  </ion-navbar>
</ion-header>

<ion-content padding>
    <h1 text-center color="brand">Transfer funds</h1>
    <ion-list>
      <ion-item>
        <ion-label fixed class="fixedLabel">Transfer</ion-label>
        <ion-select class="fixedValue" [(ngModel)]="transferType" (ionChange)="onTransferTypeChange($event)">
          <ion-option value="DEPOSIT">To {{displayName}}</ion-option>
          <ion-option value="WITHDRAW">From {{displayName}}</ion-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label fixed class="fixedLabel">Available</ion-label>
        <ion-input class="fixedValue" type="number" [(ngModel)]="accountBalance" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed class="fixedLabel">Fees</ion-label>
        <ion-input class="fixedValue" type="number" [(ngModel)]="fees" disabled></ion-input>
      </ion-item>
      <ion-item>
        <ion-label fixed class="fixedLabel">Amount</ion-label>
        <ion-input class="fixedValue" type="number" [(ngModel)]="amount" (ionInput)="onAmountChange($event)"></ion-input>
      </ion-item>
    </ion-list>
    <div text-center>
      <button ion-button color="primary" item-end icon-left style="width: 90%; padding:5px; margin-bottom:5px;" [disabled]="!amount" (click)="transferFunds()">
        <ion-icon name="link"></ion-icon>Transfer
      </button>
    </div>
</ion-content>
