page-network-status {

	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	}
	.back-button-ios{
		padding-left:16px;
	}

}
