<ion-header>
  <ion-navbar color="navbarColor">
    <!--button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button-->
	<ion-title>
      
			<button ion-button menuToggle right>
				<ion-icon name="menu"></ion-icon>
			</button>
		      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
		  
    </ion-title>
    <!--ion-title>
      <ion-grid>
        <ion-row justify-content-start align-items-center>
          <ion-col col-6>
		  
		  <ion-row>
		  <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
		  </ion-row>
		  </ion-col>
          <ion-col col-4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-title-->
  </ion-navbar>
</ion-header>

<ion-content no-bounce>
  <h2 text-center>Network Status</h2>
</ion-content>
