<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>
      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h5 class="header">Source</h5>
  <ion-card class="values">
    {{source}} &nbsp;<ion-icon class="copy" name="md-copy" (click)="copySourceID()"></ion-icon>
  </ion-card>
  <h5 class="header">Destination</h5>
  <ion-card class="values">
    {{destination}} &nbsp;<ion-icon class="copy" name="md-copy" (click)="copyDestinationID()"></ion-icon>
  </ion-card>
  <h5 class="header">Amount</h5>
  <ion-card class="values">
    {{amount | cscAmount : true : true}}
  </ion-card>
  <h5 class="header">Hash</h5>
  <ion-card class="values">
    {{hash}}&nbsp;<ion-icon class="copy" name="md-copy" (click)="copyHash()"></ion-icon>
  </ion-card>
  <h5 class="header"> Ledger Index</h5>
  <ion-card class="values">
    {{legderIndex}} &nbsp;<ion-icon class="copy" name="md-copy" (click)="copyLedger()"></ion-icon>
  </ion-card>

</ion-content>