page-restore {
	p, a {
		 color:#000000; /* #ffffff; */
		 font-weight:300;
		 text-align:center; 
	 }
 
	 .scroll-content {
		/*align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;*/
		text-align: center;

		margin-bottom:0px!important;
		padding-bottom: 0px !important; 
    }
	 h1, h2 {  
		color:#bf0a0a;
	}
	.mybtn {
    margin: 0 auto;
    width: 60%;
    background-color: #ffffff;
	color:#bf0a0a;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	height:48px;
	}
	.mybtn-secondary {
	margin: 0 auto;
     width: 100%;
    background: none!important;
	color:#ffffff;
	border:0px solid #ffffff;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	height:48px;
	}
	
	.mybtn-red {
    margin: 0 auto;
	margin-bottom:10px;
    width: 100%;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	box-shadow:none;
	background-color: #bf0a0a!important;
	font-size:1.6rem!important;
	height:48px;
	}
	 
	 
	 .bgimg {
	 /*background: #bf0a0a url('../assets/imgs/bg_576x1024.png') no-repeat bottom center ; 
	 background: #bf0a0a url('../assets/imgs/bg_720x1280.png') no-repeat bottom center ;
	 background: #bf0a0a url('../assets/imgs/bg.jpg') no-repeat bottom center ;*/
	 background: #bf0a0a url('../assets/imgs/bg_720x1480.jpg') no-repeat bottom center ;
	 background-size:cover;
	 }
	 
	 .intro-logo {
		 margin:0px 26px;
	 }
	 .intro-logo img {
	 /*height:95px; 
	 width:84px; */
	 width:40px;
	 height:auto;
	 float:left;
	 }
	 .intro-txt {
		 margin:40px 26px 100px 26px;
		 color:#ffffff;
		 font-size:28px;
		 font-weight:bold;
		 text-align:left;
	 }
	 .intro{
		padding:20px;
	}
	 
	/* .toolbar-content-md, .toolbar-content-ios {
	padding:0px;
}*/
	 .toolbar-md-brand .toolbar-background-md, .toolbar-ios-brand .toolbar-background-ios {
	/* background-color:transparent;
	 background-image:none;*/
	 }
	 .header-md::after , .header-ios::after{
	 height:0px;
	 }
	 
	 .scroll-content {
		margin-top:0px!important;
	}
	 /*ion-header .title {
		 position: absolute;
		 left: 0;
		 top: 0;
		 height: 100%;
		 width: 100%;
		 text-align: center;
		 line-height: 44px;
		 padding-right: 16px!important;
		 padding:unset;
		 color:#ffffff;
	 }*/
	 ion-header .title {
		position: relative;
		left: -25px;
		top: 0px; /* 0px */
		height: 100%;
		width: 100%;
		text-align: center;
		line-height: 44px;
		/*padding-right: 16px!important;*/ 
	}

 
	 .topnavbtn {
		 color:#ffffff;
		 float:left;
		 background:none!important;
		 left:8px;
	 }
	 
	 
	
	.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: unset;
	}
	.text-input-ios{
		background:#ffffff;
		padding:2px;
		width:100%;
	}

	.custom-kbcontainer {
        background-color:#f1f1f1;
        position:relative;
        width: 100%;
		z-index:200;
		padding:6px;
    }
	.custom-kbcontainer .grid {
    margin: 0px;
    padding: 0px;
    color: #000;
    margin-top: 0px !important;
	}
	.custom-kbcontainer .grid .col {
        background-color:#f1f1f1;
		padding:2px;
    }
    .custom-kbcontainer .button {
        background: #ffff;
        border-color: #cccccc;
        width: 100%;
        margin: 0px;
        padding: 10px;
        height:50px;
	}
	
	.duetopin {
		bottom: 0px;
		position: absolute;
		width: 100%;
	}
	.duetopin p {
		font-size:18px;
		margin-bottom:40px;
	}
	/* .doticons {
	 	color:#ffffff;
	}*/
	.doticons ion-icon::before{
		padding:0px 2px;
	}
	.text-input-ios, .text-input-md {
		background:transparent!important;
		color:#000000; /*#ffffff;*/
	}
	.item-md {
		background:unset!important;
		color:#000000; /*#ffffff;*/
		border-bottom:1px solid #dedede!important;
	}
	
	ion-label.label-ios, ion-label.label-ios[stacked], ion-label.label-md, ion-label.label-md[stacked]  {
		color: #000000!important; /*#ffffff;*/
		font-weight:normal!important;
	}
	
	.item-inner {
		border-bottom-color: #dedede!important;
	}
	
	.toolbar-content-md, .toolbar-content-ios {
		padding:0px;
	}
	.toolbar-ios ion-title {
		padding:0px!important;
	}
	.toolbar-ios {
	height:56px!important;
	}
	.ion-md-arrow-back  {
    font-size: 32px;
	}
 
 }
 