<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>
      <button ion-button clear icon-start class="topnavbtn" (click)="cancel()">
        <ion-icon class="ion-md-arrow-back"></ion-icon>
      </button>
      Restore Backup
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding> <!-- class="bgimg" -->
  <!-- <span *ngIf="accountCreated"><b>Account Created</b></span>
  <span *ngIf="cscConnected"><b>Connected to CasinoCoin Server</b></span> -->
  <div *ngIf="showInputs">
    <p>&nbsp;</p>
    <p text-center>Please enter the 10 words given during wallet setup in the same order as they appeared.</p>
    <ion-list>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">1.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word1"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">2.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word2"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">3.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word3"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">4.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word4"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">5.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word5"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">6.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word6"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">7.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word7"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">8.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word8"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">9.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word9"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-label color="primary">10.</ion-label>
            <ion-input [(ngModel)]="recoveryWords.word10"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-label color="primary">Email</ion-label>
            <ion-input [(ngModel)]="recoveryEmail"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
    <ion-row>
      <ion-col>
        <p text-left>{{message}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <button ion-button (click)="recoverWallet()" class="mybtn-red"> Restore Wallet </button>
      </ion-col>
    </ion-row>
  </div>

  <!-- <div class="intro">
    <ion-list>
      <ion-item>
        <ion-textarea [(ngModel)]="backupCode" rows="4" placeholder="Enter Backup code" ></ion-textarea>
      </ion-item>
  </ion-list>
      <br>
      <div text-center>
        <button ion-button color="brand" (click)="cancel()" [disabled]="disableButtons">Cancel</button>
        <button ion-button color="brand" (click)="submitRestore()" [disabled]="disableButtons">Submit</button>
      </div>
  <ion-row>
    <ion-col>
      <button ion-button (click)="submitRestore()" [disabled]="disableButtons" class="mybtn-red">Submit </button>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button (click)="submitRestoreFromCloud()" [disabled]="disableButtons" class="mybtn-red">Restore from Cloud </button>
    </ion-col>
  </ion-row>
  <ion-row>
      <ion-col>
        <button ion-button  class="mybtn-secondary" (click)="cancel()" [disabled]="disableButtons">Cancel</button>
      </ion-col>
  </ion-row>
  
    
    <h1 *ngIf="disableButtons">Finishing BRM Setup</h1>
    <ion-grid>
      <ion-row class="status-row" *ngIf="disableButtons">
        <ion-col width-67 text-left><p>Account Creation</p></ion-col>
        <ion-col width-33 text-center>
          <ion-icon name="checkmark" color="light" *ngIf="accountCreated"></ion-icon>
          <ion-icon name="close" color="light" *ngIf="accountCreatedFailed"></ion-icon>
          <ion-spinner name="bubbles" color="light" *ngIf="!accountCreated"></ion-spinner>
        </ion-col>
      </ion-row>
      <ion-row class="status-row" *ngIf="accountCreated">
        <ion-col width-67 text-left><p>Connect to CasinoCoin Server</p></ion-col>
        <ion-col width-33 text-center>
          <ion-icon name="checkmark" color="light" *ngIf="cscConnected"></ion-icon>
          <ion-icon name="close" color="light" *ngIf="cscConnectedFailed"></ion-icon>
          <ion-spinner name="bubbles" color="light" *ngIf="!cscConnected"></ion-spinner>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div> -->
</ion-content>

<div class="duetopin" *ngIf="showPinDialog">
  <p text-center *ngIf="!setPinDone"><span><b>Set your 6 digit PIN </b></span><br>to secure your wallet</p>
  <p text-center *ngIf="setPinDone"><span><b>Confirm </b></span><br>your PIN </p>
  <div text-center large margin-vertical class="doticons">
    <ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
  </div>
  <div class="custom-kbcontainer">
    <ion-grid text-center>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('1')">1</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('2')">2</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('3')">3</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('4')">4</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('5')">5</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('6')">6</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('7')">7</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('8')">8</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('9')">9</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="clearPin()">Clear</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('0')">0</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="backspacePin()">
            <ion-icon name="backspace"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>