page-main {
/*.scroll-content {
		align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		text-align: center;
	}*/
	.intro{
		/* padding:140px 40px 40px 40px; */
		padding:40px 40px 40px 40px;
	}
	.mybtn {
    margin: 0 auto;
    width: 60%;
    background-color: #ffffff;
	color:#bf0a0a;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	/*font-family: 'Raleway', sans-serif;
	font-weight:600; */
	font-family:"Europa";
	font-weight:normal;
	height:48px;
	
	}
	.mybtn-secondary {
	margin: 0 auto;
     width: 100%;
    background: none!important;
	color:#ffffff;
	border:0px solid #ffffff;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif;
	font-weight:600; */
	font-family:"Europa";
	font-weight:normal;
	height:48px;
	}
	
	.mybtn-red {
    margin: 0 auto;
	margin-bottom:10px;
    width: 100%;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	box-shadow:none;
	background-color: #bf0a0a!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif;
	font-weight:600; */
	font-family:"Europa";
	font-weight:normal;
	height:48px;
	}
	
	
	.bgimg {
	/*background: #bf0a0a url('../assets/imgs/bg_576x1024.png') no-repeat bottom center ; 
	background: #bf0a0a url('../assets/imgs/bg_720x1280.png') no-repeat bottom center ;
	background: #bf0a0a url('../assets/imgs/bg.jpg') no-repeat bottom center ;*/
	background: #bf0a0a url('../assets/imgs/bg_720x1480.jpg') no-repeat bottom center ;
	background-size:cover;
	}
	
	.intro-logo {
		/*margin:0px 26px;*/
	}
	.intro-logo img {
	/*height:95px; 
	width:84px; */
	width:54px;
	/*height:auto;
	float:left;*/
	}

	.intro-txt {
		margin:100px 0px 140px 0px;
		color:#ffffff;
		/* color:#bf0a0a; */
		font-size:28px;
		text-align:left;
		font-weight:bold; /* 300; */
		/* font-family: 'Raleway', sans-serif; */
		font-family:"Europa";
		font-style: normal;
	}
	.intro-txt span {
	/*color:#ffffff;*/
	color:#bf0a0a;
	/*font-family: 'Raleway', sans-serif;
	font-weight:800;*/
	font-family:"Europa";
	font-weight:bold;
	}
	
	
	
	.toolbar-md-brand .toolbar-background-md , .toolbar-ios-brand .toolbar-background-ios{
	background-color:transparent;
	background-image:none;
	}
	.header-md::after, .header-ios::after {
	height:0px;
	}
	
	.scroll-content {
		margin-top:0px!important;
	}
	
	
	
	
	
}
