<ion-header>
    <ion-navbar color="brand">
        <!--ion-title>
            <img height="31" width="auto" src="/assets/imgs/casino-coin.svg" />
        </ion-title-->
    </ion-navbar>
</ion-header>
	
<ion-content no-bounce  class="bgimg">
			
			<div class="intro">
			<div class="intro-logo">
					<!--img src="assets/imgs/logo.png" /-->
					<img src="assets/imgs/svg/logo_icon.svg" />
			</div>
			<div class="intro-txt"> CasinoCoin<br>
			 <span>Bankroll Manager</span></div>	
			
			<ion-row>
				<ion-col>
					<button ion-button  (click)="gotoSignup()"  class="mybtn-red"> Create Account </button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button  class="mybtn-secondary" (click)="restoreBRM()">Restore Account</button>
				</ion-col>
			</ion-row>
			
			</div>
			
    <!--ion-slides>            
        <ion-slide>
		
           
			
            <ion-card>
                <ion-card-content class="account">
                    <button class="btnsignup email" data-provider="email" (click)="gotoSignup()"><i></i><span>Register with Email</span></button>
                    <button class="btnsignup facebook" data-provider="facebook"><i></i><span>Register with Facebook</span></button>
                    <button class="btnsignup gplus" data-provider="googleplus"><i></i><span>Register with Google</span></button>
                    <p>Already have an Account?</p>
                    <button ion-button block color="brand" class="bottom" (click)="restoreBRM()">Restore</button>
                </ion-card-content>
            </ion-card>
        </ion-slide>
    </ion-slides-->
</ion-content>
      