<ion-header>
  <ion-navbar color="navbarColor">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <ion-list>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/csc_icon_red.png">
          </ion-avatar>
          <h2>Hi, {{brmService.currentUser?.Fullname}}</h2>
          <p>&nbsp;</p>
        </ion-item>
      </ion-list>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'userInactive': !brmService.currentUser.Active }">
  <h3 text-center>Contacts</h3>

  <button ion-button icon-start color="dark" (click)="showForm()" *ngIf="addButtonShow">
    <ion-icon name="contact"></ion-icon>
    New Contact
  </button>

  <ion-list *ngIf="inputShow">
    <ion-item>
      <ion-label floating>Contact Name</ion-label>
      <ion-input type="text" [(ngModel)]="contactName" name="contactname" required #contactname="ngModel"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label floating>Account ID</ion-label>
      <ion-input type="text" [(ngModel)]="accountID" name="accountId" required #accountId="ngModel" minlength="25"
        maxlength="35"></ion-input>
      <button ion-button item-end icon-right color="primary" (click)="scanQRCode()">
        <span>
          <ion-icon name="qr-scanner" style="padding-right: 10px;"></ion-icon>Scan
        </span>
      </button>
    </ion-item>
    <div text-center style="margin-top: 15px; margin-bottom: 15px;">
      <button type="submit" ion-button color="primary" (click)="addContact()"
        [disabled]="contactname.invalid || accountId.invalid" item-end icon-left style="width: 90%;">
        Add Contact
      </button>
      <button type="button" ion-button color="primary" (click)="cancel()" item-end icon-left style="width: 90%;">
        Cancel
      </button>
    </div>
  </ion-list>

  {{errorMessage}}
  <p *ngIf="noContactShow">No contacts availble.</p>

  <ion-list *ngIf="contactListShow">
    <br>
    <h3 text-center>Contacts List</h3>
    <ion-item-sliding *ngFor="let contact of addresses">
      <ion-item>
        <h2>{{contact.label}}</h2>
        <p>Account: {{contact.accountID}}</p>
        <button ion-button large clear item-end (click)="presentPopover($event,contact.accountID)">
          <ion-icon name="more" color="dark"></ion-icon>
        </button>
      </ion-item>
    </ion-item-sliding>
  </ion-list>
</ion-content>