page-contacts {
  .toolbar-title-md .item-md ion-avatar,
  .toolbar-title-ios .item-ios ion-avatar {
    background-color: #ffffff;
    border-radius: 50%;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.2);
  }
  .toolbar-title-md .item-md ion-avatar img,
  .toolbar-title-ios .item-ios ion-avatar img {
    width: 37px;
    padding: 3px;
  }
  .toolbar-title-md .item-md,
  .toolbar-title-ios .item-ios {
    padding: 0px;
    background-color: transparent;
    border-bottom: 0px solid #dedede;
  }
  .toolbar-title-md .item-md h2,
  .toolbar-title-ios .item-ios h2 {
    /*font-family: 'Raleway', sans-serif;
		font-weight:700; */
    font-family: "Europa";
    font-weight: bold;
    color: #ffffff;
    font-size: 18px;
  }
  .toolbar-title-md,
  .toolbar-title-ios {
    padding-bottom: 0px;
  }
  .list-md,
  .list-ios {
    margin: 4px 0px 10px 0px;
  }

  .item-md,
  .item-ios {
    border-bottom: 1px solid #dedede;
    margin-bottom: unset !important;
  }
  h3 {
    color: #bf0a0a;
    /* font-family: 'Raleway', sans-serif;
		font-weight:700; */
    font-family: "Europa";
    font-weight: bold;
    font-size: 18px;
  }

  .item-md,
  .item-ios {
    border-bottom: 1px solid #dedede;
  }
  .item-md.item-block .item-inner,
  .item-ios.item-block .item-inner {
    border-bottom: 0px solid #dedede;
  }

  .toolbar-ios {
    height: 90px;
  }
  .title-ios {
    margin: 0px 0px 20px 0px;
    padding: 0px 6px;
    height: 90px !important;
  }
  .item-ios ion-avatar {
    min-width: 42px;
  }
  ion-label.label-ios {
    color: #bf0a0a !important;
  }
}
