<ion-header>
  <ion-navbar color="navbarColor">
    <ion-title>Terms and Conditions</ion-title>
    <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h1>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h1>
  <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxx 
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX 
    XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXxxxxxx
  </p>

  <ion-list>
    <ion-item>
      <ion-label>I Agree,</ion-label>
      <ion-checkbox (ionChange)="changeAgree()" [(ngModel)]="agreeCheckbox"></ion-checkbox>
    </ion-item>
  </ion-list>
  <button ion-button round [disabled]="!continue" (click)="continueToSignUp()">Continue</button>
</ion-content>