<ion-header>
  <ion-navbar color="navbarColor">
   
    <ion-title>  
		<button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
				<img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-bounce padding>
  <h2 text-center>Exchanges</h2>
  <ion-list>
    <ion-item *ngFor="let exchange of marketService.exchanges">
      <!--ion-grid>
        <ion-row><ion-col col-4>Name</ion-col><ion-col col-6><b>{{exchange.name}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Buy</ion-col><ion-col col-6><b>{{exchange.buy | number : '1.1-8'}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Sell</ion-col><ion-col col-6><b>{{exchange.sell | number : '1.1-8'}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Last</ion-col><ion-col col-6><b>{{exchange.last | number : '1.1-8'}}</b></ion-col></ion-row>
        <ion-row><ion-col col-4>Volume</ion-col><ion-col col-6><b>{{exchange.volume24H | number : '1.0'}}</b></ion-col></ion-row>
      </ion-grid-->
	  <ion-grid>
        <ion-row><ion-col col-6 class="vcenter"><img width="100" [src]="exchange.imageBase64"></ion-col><ion-col col-6><button class="mybtn-red" (click)="visitExchange(exchange.tradeURL)">visit {{exchange.name}}</button></ion-col></ion-row>
        <ion-row><ion-col col-6>Buy<br><b>{{exchange.buy | number : '1.1-8'}}</b></ion-col><ion-col col-6>Sell<br><b>{{exchange.sell | number : '1.1-8'}}</b></ion-col></ion-row>
        <ion-row><ion-col col-6>Last<br><b>{{exchange.last | number : '1.1-8'}}</b></ion-col><ion-col col-6>Volume<br><b>{{exchange.volume24H | number : '1.0'}}</b></ion-col></ion-row>
        
      </ion-grid>
    </ion-item>
  </ion-list>
</ion-content>
