page-get-csc {
	
	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	padding:4px 0px;
	}
	.back-button-ios{
		padding-left:16px;
	}

	h2 {
	color:#bf0a0a;
	/* font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
	font-weight:bold;
		font-size:18px;
	}
	.mybtn {
    margin: 0 auto;
    /*width: 60%;*/
	min-width:130px;
    background-color: #000000;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow:none!important;*/
	font-size:1.6rem!important;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
padding:10px;
	}
	.mybtn-secondary {
	margin: 0 auto;
    /*width: 60%;*/
	min-width:130px;
    background: none!important;
	color:#000000; /* #ffffff; */
	border:1px solid #000000;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	padding:10px;
	}
	.mybtn-red {
    margin: 0 auto;
    /*width: 60%;*/
    width: 100%;
	min-width:130px;
	color:#ffffff!important;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	background-color: #bf0a0a!important;
	box-shadow:none;
	font-size:1.6rem!important;
	height:48px;
	}
	.col {
		/*font-family: 'Roboto', sans-serif;
		font-weight:400; */
		font-family:"Europa";
		font-weight:normal;
		font-size:15px;
		color:#000000;

	}
	ion-row.row:first-child(){
		margin-bottom:10px;
	}
	.vcenter {
	display: flex!important;
     align-content: center!important;
     align-items: center!important;
	}
	

}
