custom-pin {
    .scroll-content {
        margin-top:100px;
		align-content: center;
		/*display: flex;
		flex-direction: column;
		justify-content: center;*/
		text-align: center;
    }
    h6 {
        color:#ffffff;
        padding:10px 0px;
    }
    .bgimg {
        background: #bf0a0a url('../assets/imgs/bg_720x1480.jpg') no-repeat bottom center ;
        background-size:cover;
    }
    .kbcontainer {
        background-color:#f1f1f1;
        bottom: 0px;
        position: absolute;
        width: 100%;
        padding:6px;
    }
    

    .grid {
        margin: 0px;
        padding: 0px;
        color: #000;
        margin-top: 0px !important;
        }
    .grid .col {
            background-color:#f1f1f1;
            padding:2px;
        }
    .button {
            background: #ffff;
            border-color: #cccccc;
            width: 100%;
            margin: 0px;
            padding: 10px;
            height:50px;
        }
    ion-icon::before{
            padding:0px 2px;
        }

    .ion-md-radio-button-off:before, .ion-ios-radio-button-off:before  {
        color:rgba(255,255,255,0.5)
    }
    .ion-md-radio-button-on:before, .ion-ios-radio-button-on:before  {
        color:rgba(255,255,255,1)
    }
}
