<ion-header>
  <ion-navbar color="navbarColor">

    <ion-title text-center>
      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h2 text-center>PIN Code and Wallet Recovery Phrase</h2>
  <div *ngIf="showWords">
    <p text-center>These ten words together with your signup email address are the <b>only way</b> to recover your
      wallet.
      <b>Please write them down and store them securely offline.</b>
    </p>

    <div>
      <ion-grid>
        <ion-row>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">1 </span><span>{{recoveryMnemonicWords[0]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">2 </span><span>{{recoveryMnemonicWords[1]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">3 </span><span>{{recoveryMnemonicWords[2]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">4 </span><span>{{recoveryMnemonicWords[3]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">5 </span><span>{{recoveryMnemonicWords[4]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">6 </span><span>{{recoveryMnemonicWords[5]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">7 </span><span>{{recoveryMnemonicWords[6]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">8 </span><span>{{recoveryMnemonicWords[7]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg1"><span class="gridnum">9 </span><span>{{recoveryMnemonicWords[8]}}</span>
          </ion-col>
          <ion-col col-6 class="gridnumbg2"><span class="gridnum">10
            </span><span>{{recoveryMnemonicWords[9]}}</span></ion-col>
        </ion-row>
      </ion-grid>

      <ion-row>
        <ion-col col-12 class="gridtxt">
          <div class="grid-info"> <img width="44" height="auto" src="assets/imgs/ic_error.png" /></div>
          <div>Do not save your recovery phrase on your device! Write it down or print a copy
            and store it safely offline.</div>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="text-center">
          <button ion-button type="button" (click)="onDismiss()" class="mybtn-red"> Dismiss </button>
        </ion-col>
      </ion-row>

    </div>
  </div>
</ion-content>

<div class="duetopin" *ngIf="showPinDialog">
  <p text-center><span><b>Enter BRM PIN</b></span></p>
  <div text-center large margin-vertical class="doticons">
    <ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
    <ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
  </div>
  <div class="custom-kbcontainer">
    <ion-grid text-center>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('1')">1</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('2')">2</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('3')">3</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('4')">4</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('5')">5</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('6')">6</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('7')">7</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('8')">8</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('9')">9</button>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <button ion-button round large outline (click)="clearPin()">Clear</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="handlePinInput('0')">0</button>
        </ion-col>
        <ion-col>
          <button ion-button round large outline (click)="backspacePin()">
            <ion-icon name="backspace"></ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</div>