page-recovery-phrase {
	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
    }

    .rec-phrase p{ 
		font-family:"Europa";
		font-weight:normal;
		font-size:15px;
		line-height:26px;
    }

    .text-center {
		text-align:center;
    }
    .mybtn-red {
        margin: 0 auto;
        min-width:130px;
        color:#ffffff!important;
        text-transform:capitalize;
        border-radius:7px;
        box-shadow:none;
        background-color: #bf0a0a!important;
        font-size:1.6rem!important;
        height:48px!important;
        font-family:"Europa";
    }

    .toolbar-title-ios {
        padding: 12px 12px 0px 12px;
    }
    .toolbar-ios {
        min-height:56px!important;
        padding:4px 0px;
    }
    .back-button-ios{
        padding-left:16px;
    }
    h2 {  
		color:#bf0a0a;
		/* font-family: 'Raleway', sans-serif; */
		font-family:"Europa";
		font-weight:700;
		font-size:18px;
	}

    .duetopin {
		bottom: 0px;
		position: absolute;
		width: 100%;
	}
	.duetopin p {
		font-size:21px;
		margin-bottom:40px;
    }
    .doticons ion-icon::before{
		padding:0px 2px;
    }
    .custom-kbcontainer {
        background-color:#f1f1f1;
        position:relative;
        width: 100%;
		z-index:200;
		padding:6px;
    }
	.custom-kbcontainer .grid {
        margin: 0px;
        padding: 0px;
        color: #000;
        margin-top: 0px !important;
	}
	.custom-kbcontainer .grid .col {
        background-color:#f1f1f1;
		padding:2px;
    }
    .custom-kbcontainer .button {
        background: #ffff;
        border-color: #cccccc;
        width: 100%;
        margin: 0px;
        padding: 10px;
        height:50px;
	}
    
    /****** phrase grid styles start ****/

	.grid {
		margin: 10px 0px 0px 0px;
		padding: 0px;
		background-color: #fff;
		color: #000;
		border-top-left-radius:7px!important;
		border-top-right-radius:7px!important;
		margin-top:30px!important;
	}
	.grid .col {
		border-right:0px solid #dedede!important;
		border-bottom:0px solid #dedede!important;
	}
	.grid .col:last-child {
		border-right:0px solid #dedede!important;
	
	}
	.grid .col span{
		display:block;
		line-height:1.8em;
	}
	
	.gridtxt{
		border-bottom-left-radius:7px!important;
		border-bottom-right-radius:7px!important;
		background-color:#ffa401!important;
		color:#ffffff!important;
		text-align:left;
		font-size:13px;
		box-shadow: none;
	}
	.gridnum {
		color:rgba(0,0,0, 0.5);
	}
	.gridnumbg1{
		background-color:#f4f4f4;
	}
	.gridnumbg2{
		background-color:#e8e8e8;
	}
	.grid-bl {
		border-bottom-left-radius:0px!important;
	}
	.grid-br {
		border-bottom-right-radius:0px!important;
	}
	.gridtxt {
		margin-bottom:20px;
	}
	.gridtxt ul{
		list-style-type:none;
		margin:0px;
		padding:0px;
	}
	
	.grid-info {
		display: flex;
		align-items: center;
		justify-content: center;
		flex-direction: column;
		width: 74px;
		float: left;
		height: 100%;
	}
	
	.grid-info img{
		width:auto!important;
		height:44px!important;
	}
}
