<ion-tabs color="navbarColor" #brmTabs [selectedIndex]="selectedTab">
  <ion-tab [root]="tabOperators" tabTitle="Operators" tabIcon="icon-operators"></ion-tab>
  <ion-tab [root]="tabSend" tabTitle="Send" tabIcon="icon-send"></ion-tab>
  <ion-tab [root]="tabReceive" tabTitle="Receive" tabIcon="icon-receive"></ion-tab>
  <ion-tab [root]="tabContacts" tabTitle="Contacts" tabIcon="icon-contacts"></ion-tab>
  <ion-tab [root]="tabTransactions" tabTitle="Transactions" tabIcon="icon-transactions"></ion-tab> 
</ion-tabs>