page-home {

.tabs-md .tab-button-icon, .tabs-ios .tab-button-icon {
    margin-top: 3px;
    margin-bottom: 0px;
    min-width: 35px;
    height: 32px;
    font-size: 30px;
	}
.tabs-md .tab-button, .tabs-ios .tab-button {
    font-size: 12px;
	padding:0px;
}

}
