page-deposit {
    .item-inner, ion-item {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }

    .fixedValue {
        color: #000;
    }

    .text-input[disabled] {
        opacity: 1;
    }
	ion-header .title {
		position: relative;
		left: 0px; /* -28px; */
		top: 0px; /* 0px */
		height: 100%;
		width: 100%;
		text-align: center;
		line-height: 44px;
		/*padding-right: 16px!important;*/ 
	}
	ion-title .himg {
   margin:10px 0px 0px -48px;
	}
	.topnavbtn {
		 color:#ffffff;
		 float:left;
		 background:none!important;
		 font-size: 16px;
		margin: 5px 0px;
		padding: 10px;
	 }

	.input-wrapper input {
		border-bottom:1px solid rgba(0,0,0, 0.2);
	}
	.toolbar-ios ion-title {
		padding:0px;
	}
}
