custom-modal {

    .pinconfirm-box {
        background: #ffffff url('../assets/imgs/image_pin_720x1480.jpg') no-repeat bottom center ;
        background-size:cover;
        height:100%;
        width:100%;
    }
    .pinconfirm-box p {
        color:#ffffff!important;
        font-size:20px;
        padding-top:10px;

    }


    .accountcreation-box{
        background: #ffffff;
        height:100%;
        width:100%;
    }
    .accountcreation-box p {
        color:#000000!important;
        font-size:20px;
        padding-top:10px;
		/*font-family: 'Raleway', sans-serif;
		font-weight:400; */
		font-family:"Europa";
	font-weight:normal;
		font-size:17px;
		line-height:28px;

    }
    .accountcreation-box .list-unstyled {
        list-style-type:none;
        margin:20px 0px 0px 0px;
        padding:0px;
        }
    .accountcreation-box .list-unstyled li {
        text-align:center;
        padding:5px;
		/* font-family: 'Raleway', sans-serif;
		font-weight:400; */
		font-family:"Europa";
	font-weight:normal;
		font-size:17px;
		line-height:28px;
    }
	.accountcreation-box .list-unstyled li b {
       font-weight:700;
		font-size:17px;
		line-height:28px;
    }
        
    ion-spinner.account-activate {
	height:99px;
	width:99px;
	margin-bottom:20px;
	}



    .accountcreation-success {
            background: #ffffff url('../assets/imgs/image_success_720x1480.jpg') no-repeat top left;
            background-size:cover;
            height:100%;
            width:100%;
        }
        .accountcreation-success p {
            color:#ffffff!important;
            font-size:20px;
            padding-top:10px;
    
        }
        .accountcreation-success .list-unstyled {
            list-style-type:none;
            margin:0px;
            padding:0px;
            padding-top:20px;
            }
        .accountcreation-success .list-unstyled li {
            text-align:center;
            padding:5px;
            color:#ffffff!important;
			/* font-family: 'Raleway', sans-serif;
			font-weight:700; */
			font-family:"Europa";
	font-weight:bold;
			font-size:17px;
			line-height:28px;
        }


        



        .backupto-device-success {
            background: #ffffff url('../assets/imgs/image_success_720x1480.jpg') no-repeat top left;
            background-size:cover;
            height:100%;
            width:100%;
            padding:40px;
        }
        .backupto-device-success p {
            color:#ffffff!important;
            font-size:16px;
            padding-top:10px;
            padding-bottom:20px;
			line-height:26px;
    
        }
        .backupto-device-success h3 {
            color:#ffffff!important;
            font-size:24px;
            padding-top:10px;
    
        }
        
        .accountcreation-success .mybtn, .backupto-device-success .mybtn {
            margin: 0 auto;
            /*width: 60%;*/
            min-width:180px;
            background: #ffffff!important;
            color:#000000; /* #ffffff; */
            border:0px solid #000000;
            text-transform:capitalize;
            border-radius:7px;
            box-shadow:none!important;
            font-size:1.6rem!important;
			/* font-family: 'Raleway', sans-serif;
            font-weight:600; */
            font-family:"Europa";
            font-weight:bold;
            height:48px;
        }
        .accountcreation-success .mybtn{
            margin-top:40px;
            margin-right:20px;
        }
        ion-icon{
            padding-left:10px;
        }
        .text-right {
            text-align:right;
        }
        .backupto-device-success .ion-ios-arrow-forward {
            position: fixed;
            right: 10px;
        }
            
    

}
