<div class="pinconfirm-box" *ngIf="pinConfirmation">
  <div style="text-align:center;padding-top:200px;" *ngIf="pinConfirmationSuccess">
    <img src="assets/imgs/icon_check.png" width="85px" height="auto" />
    <p>PIN Confirmed</p>
  </div>

  <div style="text-align:center;padding-top:200px;" *ngIf="!pinConfirmationSuccess">
    <img src="assets/imgs/icon_failed.png" width="85px" height="auto" />
    <p>PIN do not match.</p>
  </div>
</div>



<div class="accountcreation-box" *ngIf="accountCreation">
  <div style="text-align:center;padding-top:180px;">
    <ion-row>
      <ion-col text-center>
        <ion-spinner name="ios" color="brand" class="account-activate"></ion-spinner>
      </ion-col>
    </ion-row>

    <ul class="list-unstyled">
      <li>
        <ion-icon name="checkmark" color="connected" *ngIf="brmService.accountCreated"></ion-icon>
        <ion-icon name="close" color="brand" *ngIf="brmService.accountCreatedFailed"></ion-icon>
        <span>Account Creation</span>
        <!-- <span *ngIf="brmService.accountCreated"><b>Account Creation</b></span> -->
      </li>
      <li>
        <ion-icon name="checkmark" color="connected" *ngIf="brmService.cscConnected"></ion-icon>
        <ion-icon name="close" color="brand" *ngIf="brmService.cscConnectedFailed"></ion-icon>
        <span>Connect to CasinoCoin Server</span>
        <!-- <span *ngIf="brmService.cscConnected"><b>Connect to CasinoCoin Server</b></span> -->
      </li>
      <li>
        <ion-icon name="checkmark" color="connected" *ngIf="brmService.accountActivated"></ion-icon>
        <ion-icon name="close" color="brand" *ngIf="brmService.accountActivatedFailed"></ion-icon>
        <span>Account Activation</span>
        <!-- <span *ngIf="brmService.accountActivated"><b>Account Activation</b></span> -->
      </li>
      <li>
        <ion-icon name="checkmark" color="connected" *ngIf="brmService.kycVerified"></ion-icon>
        <ion-icon name="close" color="brand" *ngIf="brmService.kycVerifiedFailed"></ion-icon>
        <span>Verification Status</span>
        <!-- <span *ngIf="brmService.kycVerified"><b>Verification Status</b></span> -->
      </li>
    </ul>
  </div>
</div>



<div class="accountcreation-success" *ngIf="creationSuccess">
  <div style="text-align:center;padding-top:160px;">
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/icon_check.png" width="85px" height="auto" />

      </ion-col>
    </ion-row>

    <ul class="list-unstyled">
      <li>
        <span><b>Account Creation</b></span>
      </li>
      <li>
        <span><b>Connect to CasinoCoin Server</b></span>
      </li>
      <li>
        <span><b>Account Activation</b></span>
      </li>
      <li>
        <span><b>Verification Status</b></span>
      </li>
    </ul>

    <div class="text-right">
      <button ion-button (click)="nextSlide()" class="mybtn"> Go to my account <ion-icon item-end md="ios-arrow-forward"></ion-icon></button>
    </div>
  </div>
</div>



<div class="backupto-device-success" *ngIf="accountBackup">
  <div style="text-align:center;padding-top:180px;" *ngIf="accountBackupSuccess">
    <ion-row>
      <ion-col text-center>
        <img src="assets/imgs/icon_check.png" width="85px" height="auto" />
      </ion-col>
    </ion-row>
    <!-- <h3>Wallet backup saved to your device</h3> -->
    <h3>Wallet backup Copied.</h3>
    <p>Please remember to move your wallet backup file to a different device or computer, and store it safely and
      securely.</p>

    <div class="text-right">
      <button ion-button (click)="nextSlide()" class="mybtn"> Go to my account <ion-icon item-end md="ios-arrow-forward"></ion-icon></button>
    </div>
  </div>
</div>