page-responsible-gaming {
	.statusIcon{
		min-width: 13% !important;
		max-width: 13% !important;
		padding-left: 5%;
	}
	
    .fixedToggleLabel {
        min-width: 30% !important;
        max-width: 30% !important;
    }
    .fixedToggleValue {
        min-width: 30% !important;
        max-width: 30% !important;
    }
    .fixedLabel {
        min-width: 50% !important;
        max-width: 50% !important;
    }

    .fixedValue {
        min-width: 60% !important;
        max-width: 60% !important;
    }

    .fixedValueLimits {
        min-width: 30% !important;
        max-width: 30% !important;
    }
	.fixedValueLimits .text-input {
		border:1px solid #dedede;
		padding:5px;
	}

    .fixedLimitsToggle {
        min-width: 20% !important;
        max-width: 20% !important;
    }

    .limitsType {
        max-width: 90%; 
        min-width: 65%; 
        font-weight: bold; 
        text-align:right;
    }

    .item-inner, ion-item {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
	
	.radio-md .radio-icon, .radio-ios .radio-icon {
    border-color: grey!important;
	}
	
	.range-md , .range-ios{
		width:100%;
		margin:auto 0% ;
	}
	.range-md .range-knob , .range-ios .range-knob {
	border-color:#000000!important;
	background-color:#000000!important;
	}
	
	.range-md .range-pin, .range-ios .range-pin {
		transform:none!important;
		
	}
	.range-md .range-bar-active, .range-ios .range-bar-active {
		background-color:#bf0a0a ;
	}
	.range-md .range-knob-min.range-knob-min .range-pin, .range-md .range-knob-min.range-knob-min .range-pin::before, .range-pin::after,
	.range-ios .range-knob-min.range-knob-min .range-pin, .range-ios .range-knob-min.range-knob-min .range-pin::before, .range-pin::after
	{
	
	background-color:#000000!important;
	}

	.selfexclude-range{
		width: 95%; 
		margin:10px 10px 20px 10px;
	}
	.selfexclude-range ion-range {
		width:100%;
	}
	.range-md .range-tick, .range-ios .range-tick  {
		height:10px;
		background-color:#ccc!important;
	}
    .steps{
    border: 1px solid transparent; 
    width: 100%; 
    position: relative; 
    height:20px;
	float:left;
	margin-top:-15px;
    }
    .tick { 
        border: 1px solid transparent; 
        position: absolute;
        /*width: 12.5%;
        width: 1.2em;
        margin-left: -.6em;*/
        text-align:left;
        left: 0;
		/*transform: rotate(90deg);*/
    }
	.tick span {
		width:100%;
		left:0px;
	}
	h1 {  
	color:#bf0a0a;
	/*font-family: 'Raleway', sans-serif; */
	font-family:"Europa";
	
		font-weight:700;
		font-size:18px;
	}
	.toggle-md.toggle-checked .toggle-icon , .toggle-ios.toggle-checked .toggle-icon{
    background-color: #4dd865;
	}
	.toggle-md.toggle-checked .toggle-inner, .toggle-ios.toggle-checked .toggle-inner {
    background-color: #fff;
	}
	h2 {
		color:#000000;
		font-size:17px;
	}
	ion-label.label-md[stacked], ion-label.label-md,
	ion-label.label-ios[stacked], ion-label.label-ios	{
		color:#000000!important;
	}
	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	padding:4px 0px;
	}
	.back-button-ios{
		padding-left:16px;
	}

	.limitscontainer {
		background-color:#f1f1f1;
		padding:10px;
		border-radius:7px;
		box-shadow:1px 1px 5px rgba(0,0,0,0.2);
	} 
	.limitscontainer .item-md, .limitscontainer .item-ios {
		background-color:#f1f1f1!important;
	}
	.mybtn-red {
		margin: 0 auto;
		margin-bottom:10px;
		width: 100%;
		color:#ffffff;
		text-transform:capitalize;
		border-radius:7px;
		/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
		background: linear-gradient(top, #bf0a0a, #6a1616);
	   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
	   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
	   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
	   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
	   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
		box-shadow:none;
	background-color: #bf0a0a!important;
		font-size:1.6rem!important;
		/* font-family: 'Raleway', sans-serif; 
			font-weight:600; 
		font-family: 'Roboto', sans-serif;*/
		height:48px;
	}

	.item-md ion-avatar {
		min-width: unset;
		min-height: unset;
	}

}
