<ion-header>
    <ion-navbar color="navbarColor">
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button> 
      <ion-title> 
	  <ion-list>
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/imgs/csc_icon_red.png">
			</ion-avatar>
		<h2>Hi, {{brmService.currentUser?.Fullname}}</h2>
		<p>&nbsp;</p>
		</ion-item>
	</ion-list>
        <!--ion-grid>
          <ion-row justify-content-start align-items-center>
            <ion-col col-6>
			<ion-row>
		  <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
		  </ion-row>
			</ion-col>
            <ion-col col-4>
              <button ion-button color="dark" item-end icon-left round class="header-status-button" (click)="casinocoinService.handleNetworkConnection()">
                <ion-icon name="icon-network" [color]="connectedColor"></ion-icon><font size="1">{{connectedText}}</font>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid-->
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding [ngClass]="{'userInactive': !brmService.currentUser.Active }">
  <h3 text-center>Receive CasinoCoin</h3>
  <div class="qrcode" (press)="showActionSheet()">
      <qr-code [value]="cscReceiveURI" size="220" level="L"></qr-code>
  </div>
  <div class="qrcode-string" (press)="showActionSheet()">{{accountID}} &nbsp;<ion-icon name="md-copy" (click)="copyAccountID()"></ion-icon></div>
  <ion-item> <!-- floating-->
    <ion-label color="brand" stacked>Label</ion-label>
    <ion-input type="text" [(ngModel)]="label" (ngModelChange)="updateQRCode()" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="brand" stacked>Destination Tag</ion-label>
    <ion-input type="number" [(ngModel)]="destinationTag" min="1" step="1" (ngModelChange)="updateQRCode()" clearInput></ion-input>
  </ion-item>
  <ion-item>
    <ion-label color="brand" stacked>Amount</ion-label>
    <ion-input type="number" [(ngModel)]="sendAmount" (ngModelChange)="updateQRCode()" clearInput></ion-input>
  </ion-item>
  
  <ion-row style="margin-top:10px;">
  <ion-col col-6>
  <button ion-button class="mybtn-red" item-end icon-left [disabled]="disableReset()" (click)="resetQRCode()">
      <ion-icon name="md-refresh"></ion-icon>Reset QRCode
    </button>
  </ion-col>
  <ion-col col-6>
  <button ion-button class="mybtn-red" item-end icon-left  (click)="shareReceiveAddress()">
      <ion-icon name="md-share"></ion-icon>Share Address
    </button>
  </ion-col>
  </ion-row>
  
  <!--div text-center style="padding-top: 15px;">
    <button ion-button color="primary" item-end icon-left style="width: 90%;" (click)="resetQRCode()">
      <ion-icon name="trash"></ion-icon>Reset QRCode
    </button>
  </div>
  <div text-center style="padding-bottom: 15px;">
    <button ion-button color="primary" item-end icon-left style="width: 90%;" (click)="shareReceiveAddress()">
      <ion-icon name="share"></ion-icon>Share Receive Address
    </button>
  </div-->
</ion-content>