<ion-header>
  <ion-navbar color="navbarColor">

    <ion-title text-center>
      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>

    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'userInactive': !brmService.currentUser.Active }">
  <h2 text-center>{{ 'TITLE' | translate }}</h2>
  
  <div *ngIf="mnemonicShow">
    <h4 text-center>Recovery Passphrase</h4>
    <p padding text-center>In case you lose your BRM PIN, it can be recovered using the Recovery Passphrase. Please
      write down
      the shown words in the exact order as they appear on a piece of paper or otherwise and keep it safe. </p>
    <p text-center *ngFor="let word of recoveryMnemonicWords; let i = index">{{i+1}}. {{word}}</p>
    <ion-grid>
      <button ion-button round class="mybtn-red" (click)="recoveryButton()">Finish</button>
    </ion-grid>
  </div>

  <div *ngIf="!mnemonicShow">
    <ion-item>
      <ion-label>Default Language</ion-label>
      <ion-select [(ngModel)]="language" (ionChange)="languageChanged($event)" item-end>
        <ion-option value="en" selected="{{defaultLanguage == 'en'}}">English</ion-option>
        <!-- <ion-option value="hr" selected="{{defaultLanguage == 'hr'}}">Croatian</ion-option> -->
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Currency</ion-label>
      <ion-select [(ngModel)]="currency" (ionChange)="currencyChanged($event)" item-end>
        <ion-option value="GBP" selected="{{defaultCurrency == 'GBP'}}">British Pound</ion-option>
        <ion-option value="EUR" selected="{{defaultCurrency == 'EUR'}}">Euro</ion-option>
        <ion-option value="USD" selected="{{defaultCurrency == 'USD'}}">US Dollar</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>Touch ID</ion-label>
      <ion-select [(ngModel)]="faioValue" (ionChange)="touchId()" item-end>
        <ion-option value="true">Enabled</ion-option>
        <ion-option value="false">Disabled</ion-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label>BRM Mode</ion-label>
      <ion-select [(ngModel)]="brmMode" (ionChange)="modeChange()" item-end>
        <ion-option value="default">Default Mode</ion-option>
        <ion-option value="advance">Advanced Mode</ion-option>
      </ion-select>
    </ion-item>
    <ion-item class="no-btm" style="margin-top:20px;">
      <button ion-button block class="mybtn-red" (click)="changePin()">Change PIN Code</button>
    </ion-item>
    <ion-item class="no-btm">
      <button ion-button block class="mybtn-red" (click)="gotoKyc()">KYC Settings</button>
    </ion-item>
    <ion-item class="no-btm">
      <button ion-button block class="mybtn-red" (click)="linkAccount()">Link to Mobile or Desktop CSC Account</button>
    </ion-item>
    <ion-item class="no-btm">
      <button ion-button block class="mybtn-red" (click)="gotoRecoveryPhrase()">Recovery Phrase</button>
    </ion-item>
    <!-- <ion-item class="no-btm" *ngIf="codeGenerated">
      <ion-textarea [(ngModel)]="backupData" rows="3"></ion-textarea>
    </ion-item>
    <ion-item class="no-btm" *ngIf="codeGenerated">
      <button ion-button class="mybtn-red" (click)="copyBackupCode()">Copy</button>
      <button ion-button class="mybtn-red" (click)="copyCancel()">Cancel</button>
    </ion-item>
    <ion-item class="no-btm" *ngIf="!codeGenerated">
      <button ion-button block class="mybtn-red" (click)="backupBRM()">Backup BRM</button>
    </ion-item> -->
  </div>
</ion-content>