page-settings {
    .my-item{
        margin-left: 45%; 
    }
	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	padding:4px 0px;
	}
	.back-button-ios{
		padding-left:16px;
	}
	h2 {  
		color:#bf0a0a;
		/* font-family: 'Raleway', sans-serif; */
		font-family:"Europa";
		font-weight:700;
		font-size:18px;
	}
	.mybtn {
    margin: 0 auto;
    /*width: 60%;*/
	min-width:130px;
    background-color: #000000;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow:none!important;*/
	font-size:1.6rem!important;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);*/
	box-shadow:none;
	padding:10px;
	height:48px!important;
	}
	.mybtn-secondary {
	margin: 0 auto;
    /*width: 60%;*/
	min-width:130px;
    background: none!important;
	color:#000000; /* #ffffff; */
	border:1px solid #000000;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	padding:10px;
	height:48px!important;
	}
	.mybtn-red {
    margin: 0 auto;
    /*width: 60%;*/
	min-width:130px;
	color:#ffffff!important;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	box-shadow:none;
	background-color: #bf0a0a!important;
	font-size:1.6rem!important;
	/* padding:10px;*/
	height:48px!important;
	/* font-family: 'Roboto', sans-serif; */
	font-family:"Europa";
	}
	.select-text {
	color:#bf0a0a;
	}
	/*.item-md .item-button {
		height: 44px;
	}*/
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md, 
	.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios{
		color:#000000!important;
	}
	.button-md , .button-ios {
		margin-bottom:10px;
	}
	.no-btm .item-inner{
		border-bottom: 0px solid #dedede!important;
		padding-right:0px!important;
	}
	.no-btm{
		margin:6px 0px;
	}
	.no-btm ion-label{
		margin:0px;
	}
	.item-md, .item-ios {
		margin-bottom: 0px;
	}
}
