page-operator-details {

ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	padding:4px 0px;
	}
	.back-button-ios{
		padding-left:16px;
	}
	ion-title .himg {
   margin:10px 0px 0px -48px;
	}
	.topnavbtn {
		 color:#ffffff;
		 float:left;
		 background:none!important;
		 font-size: 22px;
		margin: 5px 0px;
		padding: 10px;
	 }
	.toolbar-content-md , .toolbar-content-ios {
		padding:0px;
	}
	 .topnavbtn.button-md, .topnavbtn.button-ios {
	 box-shadow:none;
	 }
	 
	 .bar-button-default-md, .bar-button-default-ios {
	 float:left;
	 }
	 .mybtn {
    margin: 0 auto;
    width: 60%;
    background-color: #ffffff;
	color:#bf0a0a;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	}
	.mybtn-secondary {
	margin: 0 auto;
     width: 100%;
    background: none!important;
	color:#ffffff;
	border:0px solid #ffffff;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	}
	
	.mybtn-red {
    margin: 0 auto;
	margin-bottom:10px;
    width: 100%;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);
	font-size:1.6rem!important;
	height:48px;
	}
    h1, h2 {  
		color:#bf0a0a;
	}
	h1 {
	color:#bf0a0a;
	/*font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
	font-weight:bold;
		font-size:18px;
	}
	
	.toolbar-ios ion-title {
		padding:0px;
	}
	
}
