<ion-header>
  <ion-navbar color="navbarColor">
      <ion-title>
      
			<button ion-button clear icon-start class="topnavbtn" (click)="dismiss()">
                <!--ion-icon class="ion-md-arrow-back"></ion-icon--><ion-icon name="arrow-back"></ion-icon>
            </button>
		      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" class="himg" />
		  
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <h1 text-center color="brand">{{currentOperator.DisplayName}}</h1>
  <ion-grid>
    <ion-row>
      <ion-col text-center>
          <div *ngIf="!brmService.isRegisteredToOperator(currentOperator.AccountID)">
            <div *ngIf="!isSignupPossible()">
              <!-- <p>You need a minimal balance of <b>{{accountReserve}}</b> CSC to be able to signup. Please deposit suficient CSC to your BRM first!</p> -->
              <p>To activate this casino wallet you require a minimum balance of <b>{{accountReserve}}</b> CSC. Please deposit <b>{{accountReserve}}</b> CSC or more before you can access this casino.</p>
            </div>
            <!-- <div *ngIf="!isUserAccountActivated() && isSignupPossible()">
              <p>By activating your account you agree on transfering the current minimal reserve of <b>{{accountReserve}}</b> from your main account to this Operator account.</p>
              <button ion-button color="primary" item-end icon-left style="width: 90%;" (click)="activateAccount()">
              <ion-icon name="play"></ion-icon>Activate Account
            </button>
            </div>
            <div *ngIf="isUserAccountActivated() && isSignupPossible()"> -->
            <div *ngIf="isSignupPossible()">
              <p *ngIf="!isUserAccountActivated()"> By activating your account you agree on transfering the current minimal reserve of <b>{{accountReserve}}</b> CSC from your main account to this Operator account.</p>
              <p *ngIf="isUserAccountActivated() && this.registration.RegistrationDeleted"> This Registration was Deleted. </p>
              <p *ngIf="this.registration && !this.registration.RegistrationCompleted && !this.registration.RegistrationDeleted"> Pending Confirmation.</p>
              <p> By signing up you agree on the terms and conditions of sharing your personal information with the Operator.</p>
              <button ion-button class="mybtn-red" item-end icon-left style="width: 90%;" (click)="registerToOperator()">
                <ion-icon name="icon-operators"></ion-icon>Sign Up
              </button>
              <!-- <button ion-button color="primary" item-end icon-left style="width: 90%; padding:20px; margin-bottom:20px;" (click)="resetOperator()">
                <ion-icon name="trash"></ion-icon>Delete Registration
              </button> -->
            </div>
          </div>
          <div *ngIf="brmService.isRegisteredToOperator(currentOperator.AccountID)">
            <ion-row justify-content-start align-items-center h3>
              <ion-col>BRM Balance</ion-col>
              <ion-col *ngIf="!brmDefaultMode"><b>{{accountBalance}} <font color="#666">CSC</font></b></ion-col>
              <ion-col *ngIf="brmDefaultMode"><b>{{defaultAccountBalance}} <font color="#666">CSC</font></b></ion-col>
            </ion-row>
            <button ion-button class="mybtn-red" *ngIf="!brmDefaultMode" item-end icon-left style="width: 90%; padding:20px; margin-bottom:20px;" (click)="transferFunds()">
              <ion-icon name="swap"></ion-icon>Transfer
            </button>
            <button ion-button class="mybtn-red" item-end icon-left style="width: 90%; padding:20px; margin-bottom:20px;" (click)="visitOperator()">
              <ion-icon name="link"></ion-icon>Visit
            </button>
            <button ion-button class="mybtn-red" *ngIf="!brmDefaultMode" item-end icon-left style="width: 90%; padding:20px; margin-bottom:20px;" (click)="depositFunds()"
                    [disabled]="!isDepositPossible()">
              <ion-icon name="icon-deposit"></ion-icon>Deposit
            </button>
            <button ion-button class="mybtn-red" *ngIf="brmDefaultMode" item-end icon-left style="width: 90%; padding:20px; margin-bottom:20px;" (click)="depositFunds()"
                    [disabled]="!isDefaultDepositPossible()">
              <ion-icon name="icon-deposit"></ion-icon>Deposit
            </button>
            <button ion-button class="mybtn-red" item-end icon-left style="width: 90%; padding:20px; margin-bottom:20px;" (click)="resetOperator()">
              <ion-icon name="trash"></ion-icon>Delete Registration
            </button>
          </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
