// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

.header-ios .toolbar-background-ios, .footer-ios .toolbar-background-ios {
    border-style: unset;
}
.tabs-ios .tabbar {
	border-top:none;
}
.alert-ios .alert-head {
	text-align:left;
}
.list-ios > .item-block:first-child, .list-ios > .item-wrapper:first-child .item-block {
	border-top:none;
}
.list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block {
	border-bottom:none;
}
/*.toolbar-ios{
 height:90px;
}*/
.toolbar-title-ios{
	padding:0px;
}
/*.toolbar-content-ios{
	margin-top:-40px;
}*/

.white-spinner .loading-wrapper {   
    color: #ffffff!important;
    background: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;    
}

.white-spinner .spinner-crescent circle {
    stroke: #ffffff;
}

.black-spinner .loading-wrapper {   
    color: #000000!important;
    background: transparent!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;    
}

.black-spinner .spinner-crescent circle {
    stroke: #000000;
}


.custom-popover .popover-content {
    width: 80%;
    top: 50px;
    left: 25px;
}


/* shakeer styles  */

body {
	font-family:"Europa";
	 
	-moz-font-feature-settings: "ss01";
	-webkit-font-feature-settings: "ss01";
	font-feature-settings: "ss01";
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
textarea,
select,
button,
.button-md,.button-ios,
.card-header-ios,
.list-header-ios ,
.segment-md .segment-button,
.segment-ios .segment-button,
.tabs-ios .tab-button,
.toolbar-title-md,
.toolbar-title-ios,
.bar-button-md,.bar-button-ios,
.bar-button-wp,
page-login h4,
.action-sheet-ios .action-sheet-title,
.alert-wp .alert-title,
.alert-wp .alert-button,
.searchbar-ios .searchbar-input,
.searchbar-md .searchbar-input, .searchbar-ios .searchbar-input,
.searchbar-wp .searchbar-input,
.card-md p, .card-ios p
.button-inner, div {
font-weight:300;
font-family:"Europa";
	-moz-font-feature-settings: "ss01";
	-webkit-font-feature-settings: "ss01";
	font-feature-settings: "ss01";
}
h2.alert-title{
	font-size:18px!important;
}
.alert-message h2 {
	font-weight:300;
}
.alert-message, .alert-message p, .alert-md .alert-checkbox-label, .alert-ios .alert-checkbox-label {
	font-weight:400!important;
	font-size:13px!important;
	 /* font-family:"Roboto", sans-serif!important;*/
	font-family:"Europa", sans-serif!important;
	text-align:left;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	/* font-family: 'Raleway', sans-serif;
	font-weight:600; */
	font-family:"Europa";
	font-weight:bold;
}
.card-md, .card-ios {
		border-radius:4px;
		box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
   -webkit-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
   -moz-box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.2);
	}
ion-card.card {
		/*background: rgba(0, 0, 0, 0.01)!important;
		border-radius: 3px!important;
		 border-top-right-radius: 0px !important; */
	}
	
/* .icon {
		width:42px;
		height:42px
	} 
.input-md[clearInput] .text-input {
    padding-right: 0px;
    line-height: 2.4;
}*/
.item-md ion-icon[item-left] + .item-inner, .item-md ion-icon[item-left] + .item-input, .item-md ion-icon[item-start] + .item-inner, .item-md ion-icon[item-start] + .item-input ,
.item-ios ion-icon[item-left] + .item-inner, .item-ios ion-icon[item-left] + .item-input, .item-ios ion-icon[item-start] + .item-inner, .item-ios ion-icon[item-start] + .item-input {
    margin-left: 10px;
}
.list-md .item-input:last-child , .list-ios .item-input:last-child{
border:0px;
}
 .radiogrp{
	float: left;
    display: inline;
    margin: 14px 10px;
	}
	/*.radiogrp .title{
	color:#d9a1a1;
	}
	.radiogrp ion-label {
	display:inline;
	padding-right:20px;
	margin:0px;
	} */
	.radiogrp .label-md, .radiogrp .label-ios {
		font-size: 1.6rem !important;
		float:left;
	}
.radio-md .radio-icon, .radio-ios .radio-icon {
	width: 12px;
	height: 12px;
	border-width: 1px;
	border-color: #ffffff;
}
.radio-md .radio-inner, .radio-ios .radio-inner {
    left: 1px;
    top: 1px;
    border-radius: 50%;
    position: absolute;
    width: 8px;
    height: 8px;
	background-color: #be0a09;
}
.button-md, .button-ios {
    font-weight: 300;
    text-transform: none;
    border-radius: 3px;
    height: 4rem;
}
h1,h2,h3,h5,h6 {
margin-bottom:1.6rem;
}

h4{
	margin-bottom: 1.8rem;
	margin-top: 1.8rem;
}

/*.toolbar-title-md,*/ .toolbar-title-ios{
	padding: 12px 12px 0px 12px;
}

/*
ion-label{
	text-overflow: unset;
    white-space: unset;
} */



/**** login pages begin ****/


.menu-inner .toolbar-background-md, .menu-inner .toolbar-background-ios {
	background:#ffffff;
}
.menu-inner ion-title {
	text-align:center;
}
.menu-inner .header-md::after, .menu-inner .header-ios::after{
	background-image:none;
}
.menu-inner .list-md .item-block .item-inner, .menu-inner .list-ios .item-block .item-inner {
	border-bottom:0px solid #000;
	color:#be0a09;
}
.menu-inner .connection{
	border-top:1px solid #be0a09;
	border-bottom:1px solid #be0a09;
	text-align:center;
	margin:30px 0px 30px 0px;
}
/*.menu-inner .connection .icon-md{
	color:#4dd865;
}*/
.toolbar-md-primary .toolbar-background-md, .toolbar-ios-primary .toolbar-background-ios {
background-color: #be0a09;
}
.csc-logo {
/* background: url("../assets/imgs/casinocoin_logo2.svg") no-repeat center center;*/
background: #ffffff url("../assets/imgs/casinocoin_logo_side_menu.png") no-repeat center center;
/* background-size: 120px 100px; */
height:auto;
width:130px;
}

/* .menu-inner .icon-md{
color:#be0a09;
}*/
.tabs-md-navbarColor .tabbar, .tabs-ios-navbarColor .tabbar {
background-color:#f1f1f1;
color: #686868!important;
}
.tabs-md-navbarColor .tab-button, .tabs-md-navbarColor .tab-button-icon, .tabs-ios-navbarColor .tab-button, .tabs-ios-navbarColor .tab-button-icon {
    color: #686868!important;
}
.tabs-md .tab-button[aria-selected=true], .tabs-ios .tab-button[aria-selected=true] {
    color: #686868!important;
    padding: 0px; 
	border-top: 3px solid #bf1817;
	min-height: 6.4rem;
	
}
.tabs-md-navbarColor .tab-button .tab-button-icon, 
.tabs-ios-navbarColor .tab-button .tab-button-icon {
   color: #686868!important;
}
.tabs-md[tabsLayout=icon-top] .has-icon .tab-button-text, 
.tabs-ios[tabsLayout=icon-top] .has-icon .tab-button-text{
	margin-top:2px;
	transform:unset;
}

.button-md-dark, .button-md-primary, .toolbar-md-navbarColor .toolbar-background-md , .button-md-primary:hover:not(.disable-hover), 
.button-ios-dark, .button-ios-primary, .toolbar-ios-navbarColor .toolbar-background-ios , .button-ios-primary:hover:not(.disable-hover){
    background-color: #be0a09;
}
.button-md-dark:hover:not(.disable-hover) ,.button-ios-dark:hover:not(.disable-hover)  {
background-color: #be0a09; 
}
.toolbar-title .button-md, .toolbar-title .button-md:hover:not(.disable-hover), .toolbar-title .button-ios, .toolbar-title .button-ios:hover:not(.disable-hover)  {
background: rgba(0, 0, 0, 0.25);
}
.bar-button-default-md:hover:not(.disable-hover), .bar-button-default-ios:hover:not(.disable-hover){
color:#ffffff;
}
.icon-md-disconnected , .icon-ios-disconnected {
color:rgba(255, 255, 255, 0.25);
}
.item-md ion-avatar img, .item-ios ion-avatar img {
border-radius:unset;	
height:unset;
}

.item-divider-md, .item-divider-ios {
color:#000000;
background-color:#f4f4f4!important;
}
.toolbar-title-md, .toolbar-title-ios {
    padding: 6px 12px 6px 12px;
}

.toolbar-title ion-avatar {
	width:56px;
	height:56px;
}
.toolbar-title ion-avatar img {
	width: 50px!important;
    height: 56px!important;
}
.toolbar-md, .toolbar-ios{
	padding:0px 4px;
}
/**** login pages end ****/

/** pincode popup begin ***/
.pincode-toolbar .pincode-title {
display:block;
}
ion-pincode .pincode-wrapper {
background-color:#eeeeee;
}
ion-pincode .pincode-input .pincode-input-grid {
    border: 1px solid #c4c4c4!important;
}
ion-pincode .pincode-toolbar {
background-color:#f4f4f4!important;
border-bottom:1px solid #8c8c8c!important;
}

.pincode-toolbar span {
	color:#000000; /* #be0a09;*/
	}
/** pincode popup end ***/

.swiper-container {
	overflow: unset!important;
	
}

.alert-md .alert-checkbox-label, .alert-ios .alert-checkbox-label {
	text-overflow: unset!important;
	white-space: unset!important;
	overflow: unset!important;
}

ion-pincode ion-backdrop {
	opacity:0.2!important;
}
/*** new styles ***/
.toolbar-content-md, .toolbar-content-ios {
	padding:0px 0px; /* 0px 16px; */
}
.toolbar-content-ios {
	padding:0px;
}
/*** disable complete brm when user is made inactive ***/
.userInactive {
    opacity: .4;
    filter: alpha(opacity=40);
    pointer-events: none;
}

.alert-button-md , .alert-button-ios {
	text-align:center;
background-color: #000000!important;
	color:#ffffff!important;
	text-transform:capitalize!important;
	border-radius:7px!important;
	box-shadow:none!important;
	font-size:1.6rem!important;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);*/
	font-family:"Europa";
	font-weight:bold;
}
.alert-md .alert-message, .alert-md .alert-input-group, .alert-ios .alert-message, .alert-ios .alert-input-group {
    color: rgba(0, 0, 0, 1);
}
.alert-md .alert-button-group, .alert-ios .alert-button-group {
    /*-webkit-flex-wrap: wrap-reverse;
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;*/
    justify-content: center;
    padding: 24px 8px 24px 24px;
}
.alert-md .alert-button .button-inner {
    -webkit-box-pack: end;
    -webkit-justify-content: safe;
    -ms-flex-pack: end;
    justify-content: center;
    margin: 0;
    text-align: center;
    width: 80px;
}
 .alert-ios .alert-button .button-inner{
    -webkit-box-pack: end;
    -webkit-justify-content: safe;
    -ms-flex-pack: end;
    justify-content: center;
    margin: 0;
    text-align: center;
    /* width: 80px; */
}

ion-label.label-md[stacked], ion-label.label-md, ion-label.label-ios[stacked]   {
		color:#bf0a0a!important; /* #ffffff!important; */
		/* font-family: 'Raleway', sans-serif;
		font-weight:600; */
		font-family:"Europa";
		font-weight:bold;
}
ion-label.label-ios {
	font-family:"Europa";
		font-weight:bold;
}


.item-md, .item-ios {
	padding:0px;
	margin-bottom:14px;
	}
	
.rsidemenu button {
	padding:0px 20px;
}
.rsidemenu .icon {
	padding-right: 10px;
    width: 32px;
   /*  text-align: left; */
}



/***   icon font start ****/

.brm-icons-icomoon {
    display: inline-block;
    font: normal normal normal 18px/1 icomoon;
    /*font-size: inherit;
	font-family: untitled1regular;*/
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}
.item > ion-icon, .item-inner > ion-icon.item > ion-icon, .item-inner > ion-icon {
font-size:inherit;
color:#ff3a3a;
}

.ion-md-icon-network:before, .ion-ios-icon-network:before   {@extend .brm-icons-icomoon; content: "\e900";font-size:13px;}
.ion-md-information-circle:before, .ion-ios-information-circle:before  {@extend .brm-icons-icomoon; content: "\e902";font-size:14px;}
.ion-md-hand:before, .ion-ios-hand:before  {@extend .brm-icons-icomoon; content: "\e903";}


.menu-inner .ion-ios-icon-csc:before, .menu-inner .ion-md-icon-csc:before {@extend .brm-icons-icomoon; content: "\e901";}
.menu-inner .ion-ios-settings:before, .menu-inner .ion-md-settings:before {@extend .brm-icons-icomoon; content: "\e905";}
.menu-inner .ion-ios-power:before, .menu-inner .ion-md-power:before {@extend .brm-icons-icomoon; content: "\e904";}

/***   icon font end ****/
.popover-md .popover-content, .popover-ios .popover-content {
	background-color: #f1f1f1!important;
}
.popover-content {
	width:92%!important;
	margin-top:26px;
	background-color: #f1f1f1!important;
	
}
.popover-content .item-md , .popover-content .item-ios {
	margin-bottom:unset;
	border-bottom:1px solid #d4d4d4!important;
	background-color: #f1f1f1!important;
}

.item-ios {
	background-color:unset;
}

 .toolbar-title-ios .list-ios {
    border-bottom: none;
}
.bar-button-menutoggle-md ion-icon, .bar-button-menutoggle-ios ion-icon {
    padding: 0px 8px;
    font-size: 32px; /*2.4rem;*/
}


.side-menu-icon button {
    padding: 0px 7px 0px 50px;
    position:relative;
	width:100%;
	text-align:left;
	color: #bf0a0a !important;
    font-family: "Europa";
    font-weight: bold;
	font-size: 1.6rem;
	margin: 9px 5px;
    height: 42px;
    background: none;
	display: flex;
    align-content: center;
    align-items: center;
}

.side-menu-icon button img {
    width: 18px;
    height: 18px;
    position:absolute;
    left:14px;
    top:50%;
	margin-top:-9px;
	
}
.back-button-icon{
	font-size:32px;
}
ion-title.title{
	min-height:56px;
}







