<ion-menu side="right" [content]="content" [swipeEnabled]="false">
  <!--ion-header>
    <ion-toolbar padding> 
	  <ion-title align-center><img src="assets/imgs/casinocoin_logo_side_menu.png" style="width:130px; height:auto;text-align:center;"></ion-title>
    </ion-toolbar>
  </ion-header-->
  <ion-content class="rsidemenu">
<!--div style="padding:20px 60px;text-align:center;"><img src="assets/imgs/casinocoin_logo_side_menu.png"></div-->
<div style="padding:20px 60px;text-align:center;"><img src="assets/imgs/svg/side-logo.svg"></div>
    
	<ion-list class="side-menu-icon">
      <button menuClose ion-item item-start *ngFor="let p of pages" (click)="openPage(p)">
				<img src="assets/imgs/svg/{{p.image}}">
        <!-- <ion-icon [name]="p.icon"></ion-icon> -->
        {{p.title}}
      </button>
		<ion-item class="connection"  (click)="casinocoinService.handleNetworkConnection()">
			<span class="header-status-button"><ion-icon name="icon-network"  [color]="connectedColor" ></ion-icon>
			{{connectedText}}</span>
		</ion-item>
      <button menuClose ion-item item-start (click)="logOut()">
				<!-- <ion-icon name="power"></ion-icon> -->
				<img src="assets/imgs/svg/logout.svg">
        Log Out
      </button>
    </ion-list>
	
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>