// CSC Icon Font CSS
// --------------------------
// CSC CSS for Ionic's CSC <csc-icon> element
// cscicons-icons.scss has the icons and their unicode characters
@charset "UTF-8";

$cscicons-font-path: $font-path !default;


@font-face {
  font-family: 'csc';
  src:  url('#{$cscicons-font-path}/csc.eot?c1mx89');
  src:  url('#{$cscicons-font-path}/csc.eot?c1mx89#iefix') format('embedded-opentype'),
    url('#{$cscicons-font-path}/csc.ttf?c1mx89') format('truetype'),
    url('#{$cscicons-font-path}/csc.woff?c1mx89') format('woff'),
    url('#{$cscicons-font-path}/csc.svg?c1mx89#csc') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'csco';
  src:  url('#{$cscicons-font-path}/csco.eot?xf2359');
  src:  url('#{$cscicons-font-path}/csco.eot?xf2359#iefix') format('embedded-opentype'),
    url('#{$cscicons-font-path}/csco.ttf?xf2359') format('truetype'),
    url('#{$cscicons-font-path}/csco.woff?xf2359') format('woff'),
    url('#{$cscicons-font-path}/csco.svg?xf2359#csc') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import "cscicons-icons";


@font-face {
    font-family: 'untitled1regular';
    src: url('#{$cscicons-font-path}/csc_brm_icons-webfont.eot');
    src: url('#{$cscicons-font-path}/csc_brm_icons-webfont.eot?#iefix') format('embedded-opentype'),
         url('#{$cscicons-font-path}/csc_brm_icons-webfont.woff2') format('woff2'),
         url('#{$cscicons-font-path}/csc_brm_icons-webfont.woff') format('woff'),
         url('#{$cscicons-font-path}/csc_brm_icons-webfont.ttf') format('truetype'),
         url('#{$cscicons-font-path}/csc_brm_icons-webfont.svg#untitled1regular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'icomoon';
    src: url('#{$cscicons-font-path}/icomoon.eot');
    src: url('#{$cscicons-font-path}/icomoon.eot?#iefix') format('embedded-opentype'),
        /*//  url('#{$cscicons-font-path}/icomoon.woff2') format('woff2'),*/
         url('#{$cscicons-font-path}/icomoon.woff') format('woff'),
         url('#{$cscicons-font-path}/icomoon.ttf') format('truetype'),
         url('#{$cscicons-font-path}/icomoon.svg#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family:"Europa";
	src: url('#{$cscicons-font-path}/Europa-Regular.eot');
	src:url("#{$cscicons-font-path}/Europa-Regular.woff") format("woff"),
		url("#{$cscicons-font-path}/Europa-Regular.woff2") format("woff2"),
		url("#{$cscicons-font-path}/Europa-Regular.ttf") format("truetype"),
		url('#{$cscicons-font-path}/Europa-Regular.svg#Europa') format('svg');
	font-weight:normal;
	font-style:normal ;
}


@font-face {
	font-family:"Europa";
	src: url('#{$cscicons-font-path}/Europa-Bold.eot');
	src:url("#{$cscicons-font-path}/Europa-Bold.woff") format("woff"),
		url("#{$cscicons-font-path}/Europa-Bold.woff2") format("woff2"),
		url("#{$cscicons-font-path}/Europa-Bold.ttf") format("truetype"),
		url('#{$cscicons-font-path}/Europa-Bold.svg#Europa') format('svg');
	font-weight:bold;
	font-style:normal ;
}