account-details {
    .qrcode {
        width: 100%; 
        padding: 5px;
        text-align: center;
    }
	.card-md, .card-ios {
		padding:0px 10px 0px 10px;
	}
	.item-md, .item-ios {
		margin-bottom:0px;
	}
		
	.toolbar-title-md, .toolbar-title-ios {
	/*font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
	font-weight:bold;
		color:#ffffff;
		font-size:16px;
		text-align: left;
		position:relative;
	}
	.toolbar-ios {
	height:56px!important;
	}
	ion-title.title {
    min-height: 56px!important;
	}
	toolbar-title-ios{
	padding:12px 12px 0px 12px!important;
	}
	.toolbar-ios ion-title{
	padding:12px 0px 0px 12px;
	}
	
}
