<ion-header>
  <ion-navbar color="navbarColor">
      <ion-title>Account Details</ion-title>
      <ion-buttons end>
      <button ion-button (click)="closeModal()">Close</button>
      </ion-buttons>
  </ion-navbar>  
</ion-header> 
  
<ion-content padding>
  <ion-card>
    <ion-item (click)="accountDetails()">
      <ion-avatar item-start>
        <img src="assets/imgs/csc_icon_red.png">
      </ion-avatar>
      <h1>{{brmService.currentUser?.Fullname}}</h1>
      <p>Balance: {{brmService.formatBalance(walletBalance)}} CSC</p>
    </ion-item>
  </ion-card>
  <div class="qrcode" (press)="showActionSheet()">
    <qr-code [value]="cscReceiveURI" size="250" level="L"></qr-code>
  </div>
  <p text-center (press)="showActionSheet()">{{accountID}}</p>
</ion-content>