page-operators {
    .header-status-button {
      margin: 0px!important;
    }

    .operator-list {
        height: 45vh;
        overflow-y: scroll;
    }

    .thumbnail-class {
      /*background-color: #000000;*/
      display:flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      min-width: 100px;
      max-width: 100px;
	  /*  // border:1px solid #ddd;
      // min-height: 80px;
      // max-height: 80px; */
    }

    .operator-item {
      /* background-color: #000000; */
	    border:1px solid #ddd;
      padding: 10px;
      margin: 10px;
      height: 25vh;
    }
	
	.item-md ion-thumbnail{
		min-height:60px;
	}
    .item-md ion-thumbnail ion-img, .item-md ion-thumbnail img , 
	.item-ios ion-thumbnail ion-img, .item-ios ion-thumbnail img{
      width: 100px;
      height: auto;
    }
	.toolbar-title-md .item-md ion-avatar, .toolbar-title-ios .item-ios ion-avatar {
		background-color:#ffffff;
		border-radius:50%;
		box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.2);
		
	}
	.toolbar-title-md .item-md ion-avatar img, .toolbar-title-ios .item-ios ion-avatar img {
		width:37px;
		padding:3px;
	}
	.toolbar-title-md .item-md, .toolbar-title-ios .item-ios {
		padding:0px;
		background-color:transparent;
		border-bottom: 0px solid #dedede;
	}
	.toolbar-title-md .item-md h2, .toolbar-title-ios .item-ios h2  {
		/* font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
		font-weight: bold;
		color:#ffffff;
		font-size:18px;
	}
	.toolbar-title-md, .toolbar-title-ios {
    padding-bottom:0px;
	}
	.item-md, .item-ios {
	border-bottom: 1px solid #dedede;
	margin-bottom:unset!important;
	}
	.list-md {
    margin: 4px 0px 10px 0px;
	}
	.list-ios {
    margin: 4px 0px 10px 0px;
	border-bottom: 1px solid #dedede;
	}
	ion-list .label h2{
		font-size:18px!important;
		margin:0px!important;
	}
	.item-md h2, h2 , .item-ios h2, h2{
		/* font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
		font-weight: bold;
		font-size:15px;
	}
	.item-md.item-block .item-inner, .item-ios.item-block .item-inner {
		border-bottom: 0px solid #dedede;
	}
	.card-md h1, .card-ios h1  {
		color: #bf0a0a;
		/*font-family: 'Roboto', sans-serif;
		font-weight:600; */
		font-family:"Europa";
		font-weight: bold;
		font-size:32px;
	}
	.toolbar-title-md .item-md p , .toolbar-title-ios .item-ios p{
		color:#ffffff;
	}

    .operator-image {
      /* //  padding: 5px;
      // width: 80%; */
    }

    .operator-item-div {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      height: 100%;
    }

    .card-page-bottom {

        ion-card {
          position: absolute; 
          bottom: 6rem; 
          width: 90%;
          height: 13vh; 
          padding: 10px;
          align-self: center;
        }
      
        .card-text {
          font-size: 1.4em;
          position: absolute;
          top: 40%;
          left: 35%;
          width: 100%;
          color: #bf0a0a;
        }
      
      }
	  
	 .button-md, .button-ios {
		 height:unset!important;
	 }
	.toolbar-ios{
	height:90px;
	}
	 .title-ios {
		 margin:0px 0px 20px 0px;
		 padding:0px 6px;
		 height:90px!important;
	 }
	 .item-ios ion-avatar {
	min-width:42px;
	}
	ion-item-sliding h2{
		color:#000000;;
	}

}
