<ion-header>
  <ion-navbar color="navbarColor">
    <button ion-button menuToggle right>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
	<ion-list>
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/imgs/csc_icon_red.png">
			</ion-avatar>
		<h2>Hi, {{brmService.currentUser?.Fullname}}</h2>
		<p (click)="accountDetails()"><b>Account:</b> {{defaultAccount?.accountID}}</p>
		</ion-item>
	</ion-list>
	
			<!--ion-row>
				<img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
			</ion-row-->
		  
          <!--ion-col col-4>
            <button ion-button color="dark" item-end icon-left round class="header-status-button" (click)="casinocoinService.handleNetworkConnection()">
              <ion-icon name="icon-network" [color]="connectedColor"></ion-icon><font size="1">{{connectedText}}</font>
            </button>
          </ion-col-->
       
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding [ngClass]="{'userInactive': !brmService.currentUser.Active }">
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-card>
     <ion-item (click)="accountDetails()" text-center>
      
      <!--h1>{{brmService.currentUser?.Firstname}}</h1>
      <p>Account: {{defaultAccount?.accountID}}</p-->
      <h2>Your Balance </h2>
	  <h1><ion-icon item-start name="icon-csc" color="brand" > <!--img src="assets/imgs/csc_icon_red.png" style=""--> </ion-icon> {{brmService.formatBalance(walletBalance)}} CSC
	  </h1>
    </ion-item>
  </ion-card>
  
  <!--ion-card>
    <ion-item (click)="accountDetails()">
      <ion-avatar item-start>
        <img src="assets/imgs/csc_icon_red.png">
      </ion-avatar>
      <h1>{{brmService.currentUser?.Firstname}}</h1>
      <p>Account: {{defaultAccount?.accountID}}</p>
      <p>Balance: {{walletBalance}}</p>
    </ion-item>
  </ion-card-->
  <h2 text-center>Operators</h2>
  <div *ngIf="brmService.currentUser.KYCStatus.Status !== 'APPROVED_VERIFIED' && !platform.is('mobileweb')">
    <br>
    <h6 *ngIf="brmService.currentUser.KYCStatus.Status === 'NOT_VERIFIED' && brmService.currentUser.KYCStatus.ScanReference">Your KYC verification is Pending <br><hr> It will be Updated in a while.</h6>
    <h6 *ngIf="brmService.currentUser.KYCStatus.Status !== 'NOT_VERIFIED' || !brmService.currentUser.KYCStatus.ScanReference">Your KYC is NOT VERIFIED. <br><hr> Go to Settings -> KYC Settings, to update your KYC.</h6>
  </div>
  <div *ngIf="brmService.currentUser.KYCStatus.Status === 'APPROVED_VERIFIED' || platform.is('mobileweb')">
    <ng-container *ngIf="!jumioService.isUserDetailsValid(); else elseTemplate">        
      <br><h6>Your details doesn't match with the document provided. <br><hr> Go to Settings -> KYC Settings, to update your KYC.</h6>      
    </ng-container>
    <ng-template #elseTemplate>
      <ion-list>
        <ion-item-sliding *ngFor="let operator of operators" #slidingItem>
          <ion-item>
            <ion-thumbnail class="thumbnail-class" item-start>
              <img class="operator-image" [src]="operator.Logo">
            </ion-thumbnail>
            <h2>{{operator.Name}}</h2>
            <p *ngIf="!brmService.brmDefaultMode">Balance: {{operatorBalance(operator)}}</p>
            <button ion-button large clear item-end (click)="openOperatorModal(operator.OperatorID)">
              <ion-icon name="more" color="dark"></ion-icon>
            </button>
          </ion-item>
          <ion-item-options side="right" *ngIf="!brmService.isRegisteredToOperator(operator.AccountID)">
            <button ion-button color="primary" (click)="signup(slidingItem, operator)" style="width: 20%">
              <ion-icon name="icon-operators"></ion-icon>
              Sign Up
            </button>
          </ion-item-options>
          <ion-item-options side="right" *ngIf="brmService.isRegisteredToOperator(operator.AccountID)">
            <button ion-button color="primary" *ngIf="!brmService.brmDefaultMode" (click)="transferFunds(slidingItem, operator)" style="width: 64px">
              <ion-icon name="swap"></ion-icon>
              Funds
            </button>
            <button ion-button color="secondary" (click)="visitOperator(slidingItem, operator)" style="width: 64px">
              <ion-icon name="link"></ion-icon>
              Visit
            </button>
            <button ion-button color="brand" (click)="deposit(slidingItem, operator)" style="width: 64px">
              <ion-icon name="icon-deposit"></ion-icon>
              Deposit
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>      
    </ng-template>    
  </div>
  <!--
  <div class="operator-list">
    <ion-item>
      <ion-row>
        <ion-col col-5 *ngFor="let operator of operators" class="operator-item" text-center>
          <div class="operator-item-div" (click)="openOperatorModal(operator._id)">
              <img [src]="operator.Logo" style="width: 50%;" />
              <h2 style="position: absolute; bottom: 5px; color: #FFFFFF">{{operator.Name}}</h2>
          </div>
        </ion-col>
      </ion-row>
    </ion-item>
  </div>
  -->
</ion-content>
<!--
<div class="card-page-bottom">
  <ion-card>
    <h2 class="card-text">CRM Space</h2>
  </ion-card>
</div>
-->