<ion-header>
  <ion-navbar color="brand">
    <ion-title>
        <button ion-button clear icon-start class="topnavbtn" (click)="cancel()">
          <ion-icon class="ion-md-arrow-back"></ion-icon>
        </button>
      Recover PIN
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding> <!-- class="bgimg" -->
  <p>&nbsp;</p>
  <p text-center>Please enter the 10 words given during wallet setup in the same order as they appeared.</p>
  <ion-list>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">1.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word1"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">2.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word2"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">3.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word3"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">4.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word4"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">5.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word5"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">6.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word6"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">7.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word7"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">8.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word8"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">9.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word9"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-label color="primary">10.</ion-label>
          <ion-input [(ngModel)]="recoveryWords.word10"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-row>
    <ion-col>
      <p text-left>{{message}}</p>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col>
      <button ion-button (click)="recoverPin()" class="mybtn-red"> Recover PIN </button>
    </ion-col>
  </ion-row>
  <p>&nbsp;</p>
  <p>&nbsp;</p>
  <br><br><br>
</ion-content>