page-recover-pin {

    .scroll-content {
		/*align-content: center;
		display: flex;
		flex-direction: column;
		justify-content: center;*/
		text-align: center;

		margin-bottom:0px!important;
		padding-bottom: 0px !important; 
    }
    
    p, a {
		color:#000000; /*#ffffff;*/
		font-weight:300;
		text-align:center;
	}
	
	.intro{
		padding:40px;
	}
	.mybtn {
    margin: 0 auto;
    width: 60%;
    background-color: #000000;/*#ffffff!important;*/
	color:#bf0a0a!important;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif; */
	font-family:"Europa";
	font-weight:bold;
	height:48px;
	
	}
	.mybtn-secondary {
	margin: 0 auto;
     width: 100%;
    background: none!important;
	color:#ffffff;
	border:0px solid #ffffff;
	text-transform:capitalize;
	border-radius:7px;
	box-shadow:none!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif; */
	font-family:"Europa";
	font-weight:bold;
	height:48px;
	}
	
	.mybtn-red {
    margin: 0 auto;
	margin-bottom:10px;
    width: 100%;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	box-shadow:none;
	background-color: #bf0a0a!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif; */
	font-family:"Europa";
	font-weight:bold;
	height:48px;
	}
	
	
	.bgimg {
	/*background: #bf0a0a url('../assets/imgs/bg_576x1024.png') no-repeat bottom center ; 
	background: #bf0a0a url('../assets/imgs/bg_720x1280.png') no-repeat bottom center ;
	background: #bf0a0a url('../assets/imgs/bg.jpg') no-repeat bottom center ;*/
	background: #bf0a0a url('../assets/imgs/bg_720x1480.jpg') no-repeat bottom center ;
	background-size:cover;
	}
	
	.intro-logo {
	text-align:left;
		/*margin:0px 26px;*/
	}
	.intro-logo img {
	/*height:95px; 
	width:84px; */
	width:54px;
	/*height:auto;
	float:left;*/
	}
	.intro-txt {
		margin:100px 0px 140px 0px;
		color:#bf0a0a;
		font-size:28px;
		text-align:left;
		font-weight:normal; /* 300; */
		/* font-family: 'Raleway', sans-serif; */
		font-family:"Europa";
		font-style: normal;
	}
	.intro-txt span {
	color:#ffffff;
	/*font-family: 'Raleway', sans-serif;
	font-weight:800; */
	font-family:"Europa";
	font-weight:bold;
	}
	
	
	
	.toolbar-md-brand .toolbar-background-md, .toolbar-ios-brand .toolbar-background-ios {
	/*background-color:transparent;
	background-image:none;*/
	}
	.header-md::after, .header-ios::after {
	height:0px;
	}
	
	.scroll-content {
		margin-top:0px!important;
	}
	
	/*ion-header .title {
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		text-align: right;
		line-height: 44px;
        padding-right: 16px!important;
        display:block!important;
        color:#ffffff;
	}

	.topnavbtn {
		color:#ffffff;
		float:left;
		background:none!important;
	}
	*/
	
	ion-header .title {
		position: relative;
		left: -25px;
		top: 0px; /* 0px */
		height: 100%;
		width: 100%;
		text-align: center;
		line-height: 44px;
		/*padding-right: 16px!important;*/ 
	}
	
 
	 .topnavbtn {
		 color:#ffffff;
		 float:left;
		 background:none!important;
		 left:8px;
	 }
	 
	.card-md, .item-md, .card-ios, .item-ios {
		color:#000000; /*#ffffff;*/
		background:none!important;
	}
	.card-md, .card-ios {
		box-shadow:none;
	}
	.card-md p, .card-ios p {
		color: #000000; /*#ffffff;*/
	}
	
	.item-input .label-md, .item-select .label-md, .item-datetime .label-md, 
	.item-input .label-ios, .item-select .label-ios, .item-datetime .label-ios {
    color: #000000!important; /*#ffffff;*/
		
	}
	.input-has-focus .label-md[stacked], .input-has-focus .label-ios[stacked] {
		color:#000000; /*#ffffff!important;*/
	}
	.text-input-clear-icon{
		color:#000000; /*#ffffff;*/
		display:none!important;
	}
	.list-md .item-input , .list-ios .item-input  {
		box-shadow:none!important;
		border-bottom:none!important;
	}
	ion-input{
		border-bottom:1px solid rgba(256,256,256, 0.4);
		 padding: 4px 0px 6px 0px ;
	}
	.item-md, .item-ios{
		border-bottom:1px solid rgba(256,256,256, 0.4);
		 /*padding: 4px 0px 6px 0px ;*/
	}
	ion-label{
		text-align:left;
		text-transform:uppercase!important;
		font-size:11px!important;
	}

	.mask-text {
		-webkit-text-security: disc;
		-moz-webkit-text-security: disc;
		-moz-text-security: disc;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3);
		width:60%;
		margin:0 auto;
		color: #000000; /*#ffffff;*/
	}
	.mask-text input{
		text-align:center;		
    }
    .list-md .item-block .item-inner, .list-ios .item-block .item-inner {
        border-bottom: 1px solid #dedede!important;
    }
	
	.toolbar-ios ion-title {
		padding:0px!important;
	}
	.toolbar-ios {
	height:56px!important;
	}
	.ion-md-arrow-back  {
    font-size: 32px;
	}
	
}
