page-send {

	.timer_countdown {
	font-size:22px;
	}
	.t-light {
	font-weight:normal;
	padding-right:5px;
	font-size:16px;
	}
	.t-small {
	font-size:18px;
	}
	
	h1 {
		color: #bf0a0a;
		/*font-family: 'Roboto', sans-serif;
		font-weight:600; */
		font-family:"Europa";
	font-weight:bold;
		font-size:32px;
		margin-top:0px;
	}
	h2{
	font-size: 14px;
	/* font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
	font-weight:bold;
		margin-top:0px;
		margin-bottom:6px;
	}
	h3 {
	color:#bf0a0a;
	/* font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
	font-weight:bold;
		font-size:18px;
	}
	.item-md .item-button, .item-ios .item-button {
    height: 68px;
    border-radius: 50%;
	font-size:20px;
	}
	.mybtn-red {
    margin: 0 auto;
	margin-bottom:10px;
    width: 100%;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	box-shadow:none;
	background-color: #bf0a0a!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif; 
		font-weight:600; 
	font-family: 'Roboto', sans-serif;*/
	height:48px;
	}
	
	
	.toolbar-title-md .item-md ion-avatar, .toolbar-title-ios .item-ios ion-avatar {
		background-color:#ffffff;
		border-radius:50%;
		box-shadow: 0px 5px 10px 0px rgba(0,0,0, 0.2);
		
	}
	.toolbar-title-md .item-md ion-avatar img, .toolbar-title-ios .item-ios ion-avatar img {
		width:37px;
		padding:3px;
	}
	.toolbar-title-md .item-md , .toolbar-title-ios .item-ios {
		padding:0px;
		background-color:transparent;
		border-bottom: 0px solid #dedede;
	}
	.toolbar-title-md .item-md h2 , .toolbar-title-ios .item-ios h2{
		/* font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
	font-weight:bold;
		color:#ffffff;
		font-size:18px;
	}
	.toolbar-title-md, .toolbar-title-ios {
    padding-bottom:0px;
	}
	.list-md, .list-ios {
    margin: 4px 0px 10px 0px;
	}
	
	.item-md, .item-ios {
	border-bottom: 1px solid #dedede;
	margin-bottom:unset!important;
	}
	
	
	.text-input {
		/*font-family: 'Raleway', sans-serif;
		font-weight:500; */
		font-family:"Europa";
	font-weight:normal;
		font-size:16px;
	}
	
	.toolbar-ios {
		 height:90px;
	 }
	 .title-ios {
		margin:0px 0px 20px 0px;
		 padding:0px 6px;
		 height:90px!important;
	 }
	.item-ios ion-avatar {
		min-width:42px;
	}

	.custom-kbcontainer {
		background-color:#f1f1f1;
		position: relative;
        width: 100%;
		z-index:200;
		padding:6px;
    }
	.custom-kbcontainer .grid {
		margin: 0px;
		padding: 0px;
		color: #000;
		margin-top: 0px !important;
	}
	.custom-kbcontainer .grid .col {
        background-color:#f1f1f1;
		padding:2px;
    }
    .custom-kbcontainer .button {
        background: #ffff;
        border-color: #cccccc;
        width: 100%;
        margin: 0px;
        padding: 10px;
        height:50px;
	}	
	.duetopin {
		bottom: 64px; /* 0px; */
		position: absolute;
		width: 100%;
	}
	.doticons ion-icon::before{
		padding:0px 2px;
	}
	.doticons {
		position: relative;
		width: 100%;
		z-index: 2;
	}
	.scanqr {
		float:right;
		position: relative;
    z-index: 200;
    margin: -20px 0px;
	}
	.scanqr button{
		height: 68px;
		border-radius:7px; /* 50%;*/
		font-size: 15px; /*18px;*/
		width: 68px;
		text-align:center;
		/*box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);*/
		box-shadow:none;
	}
	.scanqr ion-icon{
		font-size:36px; /*30px;*/
	}
	/*.mybtn-red ion-icon {
    font-size: 19px;
    line-height: unset;
    padding-right: 14px;
	}*/

}
