<ion-header>
    <ion-navbar color="navbarColor">
      <button ion-button menuToggle right>
        <ion-icon name="menu"></ion-icon>
      </button>
      <ion-title>
	  
<ion-list>
		<ion-item>
			<ion-avatar item-start>
				<img src="assets/imgs/csc_icon_red.png">
			</ion-avatar>
		<h2>Hi, {{brmService.currentUser?.Fullname}}</h2>
		<p>&nbsp;</p>
		</ion-item>
	</ion-list>
	
        <!--ion-grid>
          <ion-row justify-content-start align-items-center>
            <ion-col col-6>
			
			<ion-row>
				<img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
			</ion-row>
			</ion-col>
            <ion-col col-4>
              <button ion-button color="dark" item-end icon-left round class="header-status-button" (click)="casinocoinService.handleNetworkConnection()">
                <ion-icon name="icon-network" [color]="connectedColor"></ion-icon><font size="1">{{connectedText}}</font>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid-->
      </ion-title>
    </ion-navbar>
  </ion-header>

<ion-content padding [ngClass]="{'userInactive': !brmService.currentUser.Active }">
  <h3 text-center>Send CasinoCoin</h3>
  <!--p text-center>Balance: <b>{{defaultAccountBalance}}</b></p-->
  
	<h2 text-center>Your Balance </h2>
	  <h1 text-center><ion-icon item-start name="icon-csc" color="brand" > <!--img src="assets/imgs/csc_icon_red.png" style=""--> </ion-icon> {{brmService.formatBalance(defaultAccountBalance)}} CSC
	  </h1>
  
  <div class="scanqr">
  <button ion-button item-end icon-right color="brand" (click)="scanQRCode()">
        <span><ion-icon name="qr-scanner" style="padding-right: 10px;"></ion-icon><br>Scan</span>
  </button>
  </div>
  
  <form [formGroup]="fgSendCoins">
    <ion-item> <!--floating-->
      <ion-label color="brand" stacked>Recipient</ion-label>
      <ion-input type="text" formControlName="recipient" clearInput></ion-input>
      <!--button ion-button item-end icon-right color="brand" (click)="scanQRCode()">
        <span><ion-icon name="qr-scanner" style="padding-right: 10px;"></ion-icon><br>Scan</span>
      </button-->
    </ion-item>
    <ion-item>
      <ion-label color="brand" stacked>Description</ion-label>
      <ion-input type="text" formControlName="description" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="brand" stacked>Destination Tag</ion-label>
      <ion-input type="number" formControlName="destinationTag" clearInput></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="brand" stacked>Amount</ion-label>
      <ion-input type="number" formControlName="amount" clearInput></ion-input>
    </ion-item>
	<ion-item>
          <ion-label color="brand" stacked>Fees</ion-label>
          <ion-input type="text" formControlName="fees"></ion-input>
    </ion-item>
	<ion-item>
          <ion-label color="brand" stacked>Total</ion-label>
          <ion-input type="text" formControlName="totalSendFormatted"></ion-input>
    </ion-item>
    <!--ion-row>
      <ion-col>
        <ion-item>
          <ion-label color="brand" stacked>Fees</ion-label>
          <ion-input type="text" formControlName="fees"></ion-input>
    </ion-item>
      </ion-col>
      <ion-col>
        <ion-item>
          <ion-label color="brand" stacked>Total</ion-label>
          <ion-input type="text" formControlName="totalSendFormatted"></ion-input>
    </ion-item>
      </ion-col>
    </ion-row-->
    <div text-center style="margin-top: 15px; margin-bottom: 15px;">
	<ion-row>
      <ion-col col-6>
      </ion-col>
	   <ion-col col-6>
	   <button ion-button class="mybtn-red" item-end icon-left  [disabled]="!fgSendCoins.valid" (click)="sendCoins()">
        <ion-icon name="md-arrow-up"></ion-icon>Send CSC
        <!--ion-icon name="icon-send"></ion-icon>Send Coins--  arrow-round-up -->
      </button>
      </ion-col>
	</ion-row>
	  
      
    </div>
  </form>
</ion-content>

<!-- <div class="duetopin" *ngIf="displayCustomPin">
	<div text-center large margin-vertical class="doticons">
		<ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
		<ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
	</div>
	<div class="custom-kbcontainer">
		<ion-grid text-center>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('1')">1</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('2')">2</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('3')">3</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('4')">4</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('5')">5</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('6')">6</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('7')">7</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('8')">8</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('9')">9</button>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col>
					<button ion-button round large outline (click)="cancelPin()">Cancel</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="handlePinInput('0')">0</button>
				</ion-col>
				<ion-col>
					<button ion-button round large outline (click)="backspacePin()">
						<ion-icon name="backspace"></ion-icon>
					</button>
				</ion-col>
			</ion-row>
		</ion-grid>
	</div>
</div> -->