<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="dismiss()">
        <span ion-text color="primary" showWhen="ios">Cancel</span>
        <ion-icon name="md-close" showWhen="android, windows"></ion-icon>
      </button>
    </ion-buttons>
    <ion-searchbar (ionInput)="getItems($event)" #searchbar></ion-searchbar>
  </ion-toolbar>
</ion-header>
<ion-content padding class="countrysearch">
  <ion-list>
    <ion-item *ngFor="let country of countries" (click)="countrySelected(country)">
      <span style="vertical-align: middle;" *ngIf="modalType === 'country'">
        
        <!-- <img src="assets/flags/{{country?.cca3.toLowerCase()}}.svg" width="35px" style="padding-right: 10px;"/> -->
       
        {{ country?.name.common }}  
        <!-- <span style="color:LightGray;">+{{ country?.callingCode }}</span> -->
      </span>
      <span style="vertical-align: middle;" *ngIf="modalType === 'nationality'">
        {{ country.demonym }}
      </span>
    </ion-item>
  </ion-list>
</ion-content>