<ion-header>
    <div class="progress-bar-outer">
        <div class="progress-bar-inner">
            <div class="progress-bar-red" [style.width]="progressBarPercent"></div>
        </div>
    </div>
    <ion-navbar color="brand">
        <!--ion-title>
            <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
        </ion-title-->

        <ion-title *ngIf="titleHide">
            <button ion-button clear icon-start class="topnavbtn" (click)="previousSlide()">
                <ion-icon class="ion-ios-arrow-back"></ion-icon>
            </button>
            {{appTitle}}
        </ion-title>
    </ion-navbar>
</ion-header>



<!--div>
   <ul class="progress">
	<li [ngClass]="{'is-active': currentSlide >= 0 }" class="is-active" >  Personal Information</li>
	<li [ngClass]="{'is-active': currentSlide >= 1 }">  Address Information</li>
	<li [ngClass]="{'is-active': currentSlide >= 2 }">  KYC Verification</li>
	<li [ngClass]="{'is-active': currentSlide >= 4 }">  Wallet Pincode</li>
	<li [ngClass]="{'is-active': currentSlide >= 5 }">  Recovery Phrase</li>
	<li [ngClass]="{'is-active': currentSlide >= 7 }">  Wallet Backup</li>
    </ul>
</div-->


<ion-content no-bounce scroll="true" class="iscroll">
    <!-- class="bgimg" -->

    <!--div class="info-btn" *ngIf="!toggleContent">
		<button ion-button outline icon-only  style="height:24px;width:24px;" (click)="showContent()">
			<ion-icon name="information"></ion-icon>
		</button>
     </div> 
     <div class="info-btn active" *ngIf="toggleContent">
		<button ion-button outline icon-only  style="height:24px;width:24px;" (click)="showContent()">
			<ion-icon name="close"></ion-icon>
		</button>
     </div-->

    <!--1-->
    <ion-card class="info-card" *ngIf="currentSlide == 0 && toggleContent">
        <ion-card-content>
            <div>

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat. Sed quis
                            metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis maximus
                            nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris pretium nec
                            dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <!--2-->
    <ion-card class="info-card" *ngIf="currentSlide == 1 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 2 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <!--3-->
    <ion-card class="info-card" *ngIf="currentSlide == 2 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 3 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>

    <!--4-->
    <ion-card class="info-card" *ngIf="currentSlide == 3 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 4 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <!--5-->
    <ion-card class="info-card" *ngIf="currentSlide == 4 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 5 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <!--6-->
    <ion-card class="info-card" *ngIf="currentSlide == 5 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <!--7-->
    <ion-card class="info-card" *ngIf="currentSlide == 6 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 7 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <!--8-->
    <ion-card class="info-card" *ngIf="currentSlide == 7 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 8 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>
    <!--9-->
    <ion-card class="info-card" *ngIf="currentSlide == 8 && toggleContent">
        <ion-card-content>
            <div id="scrollwrapper">

                <div class="scrollbar" id="scrollstyle">
                    <div class="force-overflow">
                        <p class="title">Title</p>
                        <p>Slide 9 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc non malesuada erat.
                            Sed quis metus sed nibh hendrerit pulvinar ut ac sapien. Aliquam eget ornare nibh. Nam quis
                            maximus nisi, vel ultrices odio. Quisque at ultricies ante, nec suscipit eros. Mauris
                            pretium nec dui eget imperdiet. Donec ac bibendum libero. Sed at gravida odio, pulvinar
                            molestie ante.</p>

                        <p>Nam sed scelerisque eros. Nullam ac ullamcorper risus. Nulla vestibulum elit mi, nec
                            convallis lectus feugiat tempor. Fusce at pulvinar leo. Proin dignissim convallis rhoncus.
                            Maecenas egestas congue diam, sit amet aliquam risus posuere eget. Aliquam justo magna,
                            malesuada sit amet tincidunt nec, pellentesque ac urna.</p>
                    </div>
                </div>

            </div>
        </ion-card-content>
    </ion-card>


    <ion-slides pager="false" dir="{{dir}}" (ionSlideDidChange)="slideChanged()" #slider (ionDrag)="onIonDrag($event)">
        <ion-slide>
            <h4>Personal Information</h4>

            <ion-card>
                <ion-card-content class="nocurv">
                    <form [formGroup]="fgPersonalInfo">

                        <!-- <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>First Name</ion-label>
                                    <ion-input type="text" formControlName="firstname"
                                        clearInput placeholder=" " #firstName></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('firstname').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgPersonalInfo.get('firstname').touched && fgPersonalInfo.get('firstname').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>Middle Name (Optional)</ion-label>
                                    <ion-input type="text" formControlName="middlename" clearInput placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('middlename').touched && fgPersonalInfo.get('middlename').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgPersonalInfo.get('middlename').touched && fgPersonalInfo.get('middlename').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>Last Name</ion-label>
                                    <ion-input type="text" formControlName="lastname" placeholder=""></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('lastname').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgPersonalInfo.get('lastname').touched &&  fgPersonalInfo.get('lastname').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row> -->

                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>Full Name as per ID</ion-label>
                                    <ion-input type="text" formControlName="fullName" placeholder="" #fullName></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('fullName').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgPersonalInfo.get('fullName').touched &&  fgPersonalInfo.get('fullName').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>Email</ion-label>
                                    <ion-input type="text" formControlName="emailaddress" placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('emailaddress').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgPersonalInfo.get('emailaddress').touched && fgPersonalInfo.get('emailaddress').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-label stacked>Mobile</ion-label>
                                <ion-row class="mobilec">
                                    <ion-col col-2 (click)="selectCountry('country')">
                                        <img src="assets/flags/{{selectedCountry?.cca3.toLowerCase() ? selectedCountry?.cca3.toLowerCase() : 'gbr'}}.svg" />
                                    </ion-col>
                                    <ion-col col-3>+{{selectedCountry?.callingCode ? selectedCountry?.callingCode :
                                        '44'}}</ion-col>
                                    <ion-col col-7>
                                        <ion-item class="mobi">
                                            <ion-input type="number" formControlName="telephone"
                                                placeholder=" "></ion-input>
                                            <ion-icon item-end name="md-checkmark" *ngIf="fgPersonalInfo.get('telephone').valid"></ion-icon>
                                            <ion-icon item-end name="md-close" *ngIf="fgPersonalInfo.get('telephone').touched && fgPersonalInfo.get('telephone').invalid"></ion-icon>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col class="text-right">
                                <button ion-button (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn top30">
                                    continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
                            </ion-col>
                        </ion-row>

                    </form>

                </ion-card-content>
            </ion-card>

        </ion-slide>
        <ion-slide>
            <h4>Personal Information</h4>

            <ion-card>
                <ion-card-content class="nocurv">
                    <form [formGroup]="fgContactInfo">

                        <!-- <ion-row>
                            <ion-col>
                                <ion-label stacked>Mobile</ion-label>
                                <ion-row class="mobilec">
                                    <ion-col col-2 (click)="selectCountry('country')">
                                        <img src="assets/flags/{{selectedCountry?.cca3.toLowerCase() ? selectedCountry?.cca3.toLowerCase() : 'gbr'}}.svg" />
                                    </ion-col>
                                    <ion-col col-3>+{{selectedCountry?.callingCode ? selectedCountry?.callingCode :
                                        '44'}}</ion-col>
                                    <ion-col col-7>
                                        <ion-item class="mobi">
                                            <ion-input type="number" formControlName="telephone"
                                                placeholder=" " #telephone></ion-input>
                                            <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('telephone').valid"></ion-icon>
                                            <ion-icon item-end name="md-close" *ngIf="fgContactInfo.get('telephone').touched && fgContactInfo.get('telephone').invalid"></ion-icon>
                                        </ion-item>
                                    </ion-col>
                                </ion-row>
                            </ion-col>
                        </ion-row> -->
                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>Gender</ion-label>
                                    <ion-select formControlName="gender">
                                        <!-- <ion-option disabled="true" value="">Please Select</ion-option> -->
                                        <ion-option value="Female">Female</ion-option>
                                        <ion-option value="Male">Male</ion-option>
                                    </ion-select>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('gender').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgContactInfo.get('gender').touched && fgContactInfo.get('gender').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item *ngIf="!isCordova">
                                    <ion-label stacked>Date of Birth</ion-label>
                                    <ion-datetime type="date" formControlName="dateOfBirth" displayFormat="DD-MMM-YYYY"
                                        (click)="selectDateOfBirth()" placeholder="DD-MMM-YYYY"></ion-datetime>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('dateOfBirth').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgContactInfo.get('dateOfBirth').touched && fgContactInfo.get('dateOfBirth').invalid"></ion-icon>
                                </ion-item>
                                <ion-item *ngIf="isCordova">
                                    <ion-label stacked>Date of Birth</ion-label>
                                    <ion-input type="text" formControlName="dobDisplay" (ionFocus)="selectCordovaDateOfBirth()" 
                                        #birthDate readonly class="datepicker-font"></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('dateOfBirth').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgContactInfo.get('dateOfBirth').touched && fgContactInfo.get('dateOfBirth').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col [class.ng-invalid]="!fgContactInfo.get('nationality').valid" [class.ng-valid]="fgContactInfo.get('nationality').valid">
                                <ion-item>
                                    <ion-label stacked>Nationality</ion-label>
                                    <ion-input type="text" [readonly]="true" formControlName="nationality" (ionFocus)="selectCountry('nationality')"
                                        tappable placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('nationality').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgContactInfo.get('nationality').touched && fgContactInfo.get('nationality').invalid"></ion-icon>
                                    <!--ion-icon item-end class="ion-ios-arrow-down" style="height:42px;font-size:1.2em;color:#ffffff;padding-right:10px;"></ion-icon-->
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>                            
                            <ion-col [class.ng-invalid]="!fgContactInfo.get('country').valid" [class.ng-valid]="fgContactInfo.get('country').valid">
                                <ion-item>
                                    <ion-label stacked>Country</ion-label>
                                    <ion-input type="text" [readonly]="true" formControlName="country" (ionFocus)="selectCountry('country')"
                                        tappable placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgContactInfo.get('country').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgContactInfo.get('country').touched && fgContactInfo.get('country').invalid"></ion-icon>
                                    <!--ion-icon item-end class="ion-ios-arrow-down" style="height:42px;font-size:1.2em;color:#ffffff;padding-right:10px;"></ion-icon-->
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col class="text-right">
                                <button ion-button (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn top30">
                                    continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
                            </ion-col>
                        </ion-row>

                    </form>

                </ion-card-content>
            </ion-card>

        </ion-slide>
        <ion-slide>
            <h4>Address Information</h4>
            <ion-card>
                <ion-card-content class="nocurv">
                    <form [formGroup]="fgAddressInfo">

                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>Address</ion-label>
                                    <ion-input type="text" formControlName="street"
                                        clearInput placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('street').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgAddressInfo.get('street').touched && fgAddressInfo.get('street').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>Address 2 (Optional)</ion-label>
                                    <ion-input type="text" formControlName="housenumber" clearInput placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('housenumber').touched && fgAddressInfo.get('housenumber').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgAddressInfo.get('housenumber').touched && fgAddressInfo.get('housenumber').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col *ngIf="statesAvailable">
                                <ion-item>
                                    <ion-label stacked>State (Optional)</ion-label>
                                    <ion-select formControlName="state" (ionCancel)="onStateCancel()">
                                        <ion-option *ngFor="let state of countryStates" [value]="state">{{state}}</ion-option>
                                    </ion-select>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                            <ion-col *ngIf="!statesAvailable">
                                <ion-item>
                                    <ion-label stacked>State (Optional)</ion-label>
                                    <ion-input type="text" formControlName="state" clearInput placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgAddressInfo.get('state').touched && fgAddressInfo.get('state').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>                            
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item>
                                    <ion-label stacked>City</ion-label>
                                    <ion-input type="text" formControlName="city" clearInput placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('city').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgAddressInfo.get('city').touched && fgAddressInfo.get('city').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col>
                                <ion-item class="tapalcode">
                                    <ion-label stacked>Postal Code</ion-label>
                                    <ion-input type="text" formControlName="postalcode" clearInput placeholder=" "></ion-input>
                                    <ion-icon item-end name="md-checkmark" *ngIf="fgAddressInfo.get('postalcode').valid"></ion-icon>
                                    <ion-icon item-end name="md-close" *ngIf="fgAddressInfo.get('postalcode').touched && fgAddressInfo.get('postalcode').invalid"></ion-icon>
                                </ion-item>
                            </ion-col>
                        </ion-row>

                        <ion-row>
                            <ion-col class="text-right">
                                <button ion-button (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn top20">
                                    continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
                            </ion-col>
                        </ion-row>
                        <!--ion-list>
                                <ion-item>
                                    
                                    <ion-icon item-start class="input-icon home" color="brand"></ion-icon>
                                    <ion-input type="text" formControlName="street" clearInput placeholder="Address"></ion-input>
                                </ion-item>
                                <ion-item>
                                   
                                    <ion-icon item-start class="input-icon home" color="brand"></ion-icon>
                                    <ion-input type="text" formControlName="housenumber" clearInput placeholder="Address 2"></ion-input>
                                </ion-item>
                                <ion-item>
                                    
                                    <ion-icon item-start name="pin" class="input-icon" color="brand"></ion-icon>
                                    <ion-input type="text" formControlName="city" clearInput placeholder="City"></ion-input>
                                </ion-item>
                                <ion-item  [class.ng-invalid]="!fgAddressInfo.get('country').valid" [class.ng-valid]="fgAddressInfo.get('country').valid">
                                    
                                    <ion-icon item-start class="input-icon map"></ion-icon>
                                    <ion-input type="text" [readonly]="true" formControlName="country" (ionFocus)="selectCountry('country')" tappable placeholder="Country"></ion-input>
                                     <ion-icon item-end class="ion-ios-arrow-down" style="height:42px;font-size:1.2em;color:#b0b0b0;padding-right:10px;"></ion-icon>
                                </ion-item>
                                <ion-item>
                                    
                                    <ion-icon item-start name="compass" class="input-icon" color="brand"></ion-icon>
                                    <ion-input type="text" formControlName="postalcode" clearInput placeholder="Postal Code"></ion-input>
                                </ion-item>
                            </ion-list-->
                        <!--ion-row style="margin-top:10px;">
                                <button ion-button block icon-start color="brand" (click)="previousSlide()" class="mybtn padr" [disabled]="!previousSlideEnabled">
                                    <ion-icon class="ion-ios-arrow-back"></ion-icon>
                                    Previous
                                </button>
                                <button ion-button block icon-end color="brand" (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn padl">{{footerButtonText}}
                                    <ion-icon class="ion-ios-arrow-forward"></ion-icon>
                                </button>
                            </ion-row-->
                        <!--div class="bottom-nav-btns">
                                <ion-row style="margin-top:10px;">
                                <button ion-button block icon-start color="brand" (click)="previousSlide()" class="mybtn padr" [disabled]="!previousSlideEnabled">
                                    <ion-icon class="ion-ios-arrow-back"></ion-icon>
                                    Previous
                                </button>
                                <button ion-button block icon-end color="brand" (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn padl">{{footerButtonText}}
                                    <ion-icon class="ion-ios-arrow-forward"></ion-icon>
                                </button>
                            </ion-row>
                            </div-->
                    </form>
                </ion-card-content>
            </ion-card>
            <br><br><br>
        </ion-slide>
        <ion-slide>
            <h4>Confirmation</h4>
            <ion-card>
                <ion-card-content>
                    <!--p>Please confirm the information is all correct. To change, press EDIT below.</p-->
                    <form>
                        <ion-list class="kyccontainer">
                            <!-- <ion-item>
                                <span [ngClass]="{'username': userProfile.Firstname.length > 30 }">First Name</span>
                                <b>{{userProfile.Firstname}}</b>
                            </ion-item>
                            <ion-item>
                                <span [ngClass]="{'username': userProfile.Middlename.length > 30 }">Middle Name</span>
                                <b>{{userProfile.Middlename}}</b>
                            </ion-item>
                            <ion-item>
                                <span [ngClass]="{'username': userProfile.Lastname.length > 30 }">Last Name </span>
                                <b>{{userProfile.Lastname}}</b>
                            </ion-item> -->

                            <ion-item>
                                <span [ngClass]="{'username': userProfile.Fullname.length > 30 }">Name</span>
                                <b>{{userProfile.Fullname}}</b>
                            </ion-item>
                            <ion-item>
                                <!--ion-label >Email</ion-label-->
                                <span [ngClass]="{'username': userProfile.Emailaddress.length > 30 }">Email </span>
                                <b>{{userProfile.Emailaddress}}</b>
                            </ion-item>
                            <ion-item>
                                <span>Mobile </span>
                                <b>{{userProfile.Telephonenumber}}</b>
                            </ion-item>
                            <ion-item>
                                <span>Gender </span>
                                <b>{{userProfile.Gender}} </b>
                            </ion-item>
                            <ion-item>
                                <span>Date of Birth </span>
                                <b>{{userProfile.DateOfBirth | date: 'dd-MMM-yyyy'}} </b>
                            </ion-item>
                            <!--ion-item>
                                    <ion-label color="brand" >Nickname</ion-label>
                                    <ion-input type="text" formControlName="nickname" clearInput color="brand" readonly></ion-input>
                                </ion-item-->
                            <ion-item>
                                <span class="adr">Address </span>
                                <b>
                                    <div>{{userProfile.Street}},<b *ngIf="userProfile.Housenumber"> {{userProfile.Housenumber}},</b> {{userProfile.City}},
                                        {{userProfile.PostalCode}},<b *ngIf="userProfile.State"> {{userProfile.State}},</b> {{userProfile.Country}}</div>
                                </b>
                            </ion-item>
                        </ion-list>

                        <ion-row>
                            <ion-col col-6>
                                <button ion-button (click)="editFields()" class="mybtn-secondary"> Edit </button>
                            </ion-col>
                            <ion-col col-6>
                                <button ion-button (click)="nextSlide()" class="mybtn-red"> Confirm </button>
                            </ion-col>
                        </ion-row>

                        <!--div class="bottom-nav-btns">
                            <ion-row>
                                <button ion-button block icon-start color="brand" (click)="previousSlide()" class="mybtn padr" [disabled]="!previousSlideEnabled">
                                    <ion-icon class="ion-ios-arrow-back"></ion-icon>
                                    Previous
                                </button>
                                <button ion-button block icon-end color="brand" (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn padl">
                                    Start Verification
                                    <ion-icon class="ion-ios-arrow-forward"></ion-icon>
                                </button>
                            </ion-row>
                            </div-->
                    </form>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <h4>Verification</h4>
            <ion-card>
                <ion-card-content class="upload-container">
                    <!--input type="file"   id="file-input" style="opacity: 0"-->
                    <!--ion-input type="file"  id="file-input" style="opacity: 1"></ion-input-->
                    <!--button style="color:grey;background-color:#ffffff;">Select document</button-->

                    <!-- <button ion-button block icon-start text-left style="color:grey;background-color:#ffffff;" >
                            <ion-icon  class="input-icon document"></ion-icon>Select document
                        </button> 
                        <p>Please use your mobile's camera to scan the required documents.</p> -->
                    <!-- <p style="margin:10px 0px">
                            <button ion-button color="brand" style="float:left;margin-right:10px;">
                                <ion-icon class="camera" style="font-size:1.6em;padding:4px;"></ion-icon>
                            </button> -->
                    <!--ion-thumbnail item-end>
                                <img src="/assets/imgs/camera-thumbnail.png">
                            </ion-thumbnail-->
                    <!--  You can use your mobile's camera to scan the documents.
                        </p> -->
                    <!-- <button ion-button block color="brand" style="margin-top:10px;">Attach document</button> -->

                    <!--p>Selected Country: <b>{{fgPersonalInfo.value.nationality}}</b></p-->
                    <!--button  ion-button icon-start block  text-left (click)="runNetverify()" style="margin-top:10px;color:grey;background-color:#ffffff;border-radius:3px;width:100%;" >
                            <ion-icon class="input-icon document" style="float:left;"></ion-icon> Start Document Verification
                            <ion-icon class="ion-ios-arrow-down" style="height:42px;font-size:1.2em;color:#b0b0b0;padding-left:10px;"></ion-icon>
                        </button-->
                    <!--p style="margin-bottom:10px">Identity verification requires the following:</p-->
                    <ul class="verify">
                        <li data-type="id-card">
                            Government-issued ID
                            <span>E.g. passport, driver's license, identity card</span>
                        </li>
                        <li data-type="utility-bill">
                            Utility Bill
                            <span>Within the last three months</span>
                        </li>
                        <li data-type="selfie">
                            Selfie Photo
                            <span>Using your smartphone camera</span>
                        </li>
                    </ul>
                    <ion-row>
                        <ion-col text-center>
                            <button class="roundbtn" (click)="runNetverify()" *ngIf="jumioDocUploaded !== 2">
                                <ion-icon name="camera"></ion-icon>
                            </button>
                            <p text-center *ngIf="jumioDocUploaded === 0">Click here to begin verification</p>
                            <p text-center *ngIf="jumioDocUploaded === 1">Click here to update verification</p>
                            <p text-center *ngIf="jumioDocUploaded === 2">Verification in Progress</p>
                            <!--p text-center>or</p-->
                        </ion-col>
                    </ion-row>
                    <ion-row>
                                <ion-col>
                                    <button ion-button block   class="mybtn-secondary"> Upload </button>
                                    <p text-center>Existing image of it from device</p>
                                </ion-col>
                        </ion-row>

                    <button  ion-button icon-start block  text-left (click)="runNetverify()" style="margin-top:10px;color:grey;background-color:#ffffff;border-radius:3px;width:100%;" >
                            <ion-icon class="input-icon document" style="float:left;"></ion-icon> scan Documents
                            <ion-icon class="ion-ios-arrow-down" style="height:42px;font-size:1.2em;color:#b0b0b0;padding-left:10px;"></ion-icon>
                        </button>

                    <form [formGroup]="fgContactInfo" (submit)="finishPersonalInfo()">
                            <div class="bottom-nav-btns">
                            <ion-row style="margin-top:10px;">
                                <button ion-button block icon-start color="brand" (click)="previousSlide()" class="mybtn padr" [disabled]="!previousSlideEnabled">
                                    <ion-icon class="ion-ios-arrow-back"></ion-icon>
                                    Previous
                                </button>
                                <button ion-button block icon-end color="brand" (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn padl">
                                    {{footerButtonText}}
                                    <ion-icon class="ion-ios-arrow-forward"></ion-icon>
                                </button>
                            </ion-row>
                            </div>
                        </form>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <h4>Wallet PIN</h4>
            <ion-card>
                <ion-card-content class="wallet-container">
                    <p text-center *ngIf="!setPinDone"><span><b>Set your 6 digit PIN </b></span><br>to secure your wallet</p>
                    <p text-center *ngIf="setPinDone && !pincodeVerified"><span><b>Confirm </b></span><br>your PIN </p>
                    <p text-center *ngIf="setPinDone && pincodeVerified"><span><b>PIN Set Completed </b></span></p>
                    <!--p>&nbsp;</p-->
					<div text-center large margin-vertical class="doticons">						
						<ion-icon [name]="enteredPinCode.length>0 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
						<ion-icon [name]="enteredPinCode.length>1 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
						<ion-icon [name]="enteredPinCode.length>2 ? 'radio-button-on' : 'radio-button-off'"></ion-icon>
						<ion-icon [name]="enteredPinCode.length>3 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
						<ion-icon [name]="enteredPinCode.length>4 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
						<ion-icon [name]="enteredPinCode.length>5 ? 'radio-button-on' : 'radio-button-off'"></ion-icon> 
					</div>
                    <!-- <ion-input type="number" *ngIf="!pincodeVerified" class="mask-text" [(ngModel)]="enteredPinCode" (ionChange)="validatePincode()" #pinCodeViewChild></ion-input> -->
                    <p>&nbsp;</p><p>&nbsp;</p>
                    <!--ion-row>
                        <ion-col class="text-right">
                            <button ion-button *ngIf="!setPinDone" (click)="openCustomPin('Set PIN')" class="mybtn top20">
                                Set PIN <ion-icon item-end md="ios-arrow-forward"></ion-icon></button>
                        </ion-col>
                    </ion-row-->

                    <!-- <ion-input type="number" class="mask-text" [ngClass]="{'displayNone': !pincodeEntered}" [(ngModel)]="confirmPinCode" (ionChange)="validatePincode('confirmPinCode')" #confirmPincode></ion-input> -->
                    <!-- <ion-row>
                            <ion-col>
                                <ion-input type="text" clearInput placeholder=" "></ion-input>
                            </ion-col>
                            <ion-col>
                                <ion-input type="text" clearInput placeholder=" "></ion-input>
                            </ion-col>
                            <ion-col>
                                <ion-input type="text" clearInput placeholder=" "></ion-input>
                            </ion-col>
                            <ion-col>
                                <ion-input type="text" clearInput placeholder=" "></ion-input>
                            </ion-col>
                            <ion-col>
                                <ion-input type="text" clearInput placeholder=" "></ion-input>
                            </ion-col>
                            <ion-col>
                                <ion-input type="text" clearInput placeholder=" "></ion-input>
                            </ion-col>
                        </ion-row> -->
                    <!-- <ion-row>
                        <ion-col>
                            <button ion-button block class="mybtn" (click)="setWalletPIN()" [disabled]="pincodeButtonDisabled"
                                *ngIf="!setPinDone"> {{pincodeButtonLabel}} </button>
                        </ion-col>
                    </ion-row> -->
                    <!-- <ion-row>
                        <ion-col>
                            <button ion-button block class="mybtn" (click)="verifyWalletPIN()" [disabled]="pincodeButtonDisabled"
                                *ngIf="verifyPinDone"> {{pincodeButtonLabel}} </button>
                        </ion-col>
                    </ion-row> -->
                    <div *ngIf="pincodeVerified">
                        <!-- <ion-row >
                            <ion-col text-center>
                                <button class="roundbtn-white"> <ion-icon md="md-checkmark"></ion-icon></button>
                                <p text-center>Success</p>
                            </ion-col>
                        </ion-row> -->
                        <ion-row>
                            <ion-col class="text-right">
                                <button ion-button (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn top20">
                                    continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <!--button ion-button block color="brand" class="bottom" style="margin-top:10px;" (click)="setWalletPIN()" [disabled]="pincodeButtonDisabled" *ngIf="!setPinDone">{{pincodeButtonLabel}}</button>
                        <p class="pin-success-msg" *ngIf="setPinDone">Your Wallet PIN is Successfully Setup</p>
                        <div class="bottom-nav-btns">
                        <ion-row style="margin-top:10px;">
                            <button ion-button block icon-start color="brand" (click)="previousSlide()" class="mybtn padr" [disabled]="!previousSlideEnabled">
                                <ion-icon class="ion-ios-arrow-back"></ion-icon>
                                Previous
                            </button>
                            <button ion-button block icon-end color="brand" (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn padl">
                                Next
                                <ion-icon class="ion-ios-arrow-forward"></ion-icon>
                            </button>
                        </ion-row>
                        </div-->
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <h4>PIN Code and Wallet Recovery Phrase</h4>
            <ion-card>
                <ion-card-content class="rec-phrase">
                    <!--p>Please write down the following eight words and their corresponding numbers and store it somewhere offline and safely.</p-->
                    <p>These ten words together with your signup email addres are the <b>only way</b> to recover your wallet. <b>Please
                            write them down and store them securely offline.</b></p>
                    <div>
                        <ion-grid>
                            <ion-row>
                                <ion-col col-6 class="gridnumbg1"><span class="gridnum">1 </span><span>{{recoveryMnemonicWords[0]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg2"><span class="gridnum">2 </span><span>{{recoveryMnemonicWords[1]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg2"><span class="gridnum">3 </span><span>{{recoveryMnemonicWords[2]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg1"><span class="gridnum">4 </span><span>{{recoveryMnemonicWords[3]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg1"><span class="gridnum">5 </span><span>{{recoveryMnemonicWords[4]}}</span></ion-col>
                            
                                <ion-col col-6 class="gridnumbg2"><span class="gridnum">6 </span><span>{{recoveryMnemonicWords[5]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg2"><span class="gridnum">7 </span><span>{{recoveryMnemonicWords[6]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg1"><span class="gridnum">8 </span><span>{{recoveryMnemonicWords[7]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg1"><span class="gridnum">9 </span><span>{{recoveryMnemonicWords[8]}}</span></ion-col>
                                <ion-col col-6 class="gridnumbg2"><span class="gridnum">10 </span><span>{{recoveryMnemonicWords[9]}}</span></ion-col>
                            </ion-row>
                        </ion-grid>
                        <ion-row>
                            <ion-col col-12 class="gridtxt">
                                <div class="grid-info"> <img width="44" height="auto" src="assets/imgs/ic_error.png" /></div>
                                <div>Do not save your recovery phrase on your device! Write it down or print a copy
                                    and store it safely offline.</div>
                            </ion-col>
                        </ion-row>
                        <ion-row>
                            <ion-col class="text-right">
                                <button ion-button (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn top20">
                                    continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
                            </ion-col>
                        </ion-row>
                    </div>
                    <!--div class="bottom-nav-btns">
                        <ion-row style="margin-top:10px;">
                            <button ion-button block icon-start color="brand" (click)="previousSlide()" class="mybtn padr" [disabled]="!previousSlideEnabled">
                                <ion-icon class="ion-ios-arrow-back"></ion-icon>
                                Previous
                            </button>
                            <button ion-button block icon-end color="brand" (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn padl">
                                {{footerButtonText}}
                                <ion-icon class="ion-ios-arrow-forward"></ion-icon>
                            </button>
                        </ion-row>
                        </div-->
                </ion-card-content>
            </ion-card>
        </ion-slide>

        <ion-slide>
            <h4>Final Review</h4>
            <ion-card>
                <ion-card-content>
                    
                    <p text-center><span><b>Your account has been successfully created! </b></span></p>

                    <ion-row *ngIf="setupErrorShow">
                        <ion-col text-center>
                            <button class="roundbtn">
                                <ion-icon md="md-close"></ion-icon>
                            </button>
                        </ion-col>
                    </ion-row>

                    <ion-row *ngIf="setupSuccessShow">
                        <ion-col text-center>
                            <!--button class="roundbtn"> <ion-icon md="md-checkmark"></ion-icon></button-->
                            <!-- <ion-spinner name="ios" color="brand" class="account-activate"></ion-spinner> -->
                        </ion-col>
                    </ion-row>



                    <ul class="list-unstyled" *ngIf="false">
                        <li>
                            <span *ngIf="!accountCreated">Account Creation</span>
                            <span *ngIf="accountCreated"><b>Account Creation</b></span>
                        </li>
                        <li>
                            <span *ngIf="!cscConnected">Connect to CasinoCoin Server</span>
                            <span *ngIf="cscConnected"><b>Connect to CasinoCoin Server</b></span>
                        </li>
                        <li>
                            <span *ngIf="!accountActivated">Account Activation</span>
                            <span *ngIf="accountActivated"><b>Account Activation</b></span>
                        </li>
                        <li>
                            <span *ngIf="!kycVerified">Verification Status</span>
                            <span *ngIf="kycVerified"><b>Verification Status</b></span>
                        </li>
                    </ul>

                    <!--ul class="list-unstyled">
                            <li> 
                                <ion-icon name="checkmark" color="light" *ngIf="accountCreated"></ion-icon>
                                <ion-icon name="close" color="light" *ngIf="accountCreatedFailed"></ion-icon>
                                <ion-spinner name="bubbles" color="light" *ngIf="!accountCreated"></ion-spinner>
                                Account Creation
                            </li>
                            <li>
                                <ion-icon name="checkmark" color="light" *ngIf="cscConnected"></ion-icon>
                                <ion-icon name="close" color="light" *ngIf="cscConnectedFailed"></ion-icon>
                                <ion-spinner name="bubbles" color="light" *ngIf="!cscConnected"></ion-spinner>
                                Connect to CasinoCoin Server
                            </li>
                            <li> 
                                <ion-icon name="checkmark" color="light" *ngIf="accountActivated"></ion-icon>
                                <ion-icon name="close" color="light" *ngIf="accountActivatedFailed"></ion-icon>
                                <ion-spinner name="bubbles" color="light" *ngIf="!accountActivated"></ion-spinner>
                                Account Activation
                            </li>
                            <li> 
                                <ion-icon name="checkmark" color="light" *ngIf="kycVerified"></ion-icon>
                                <ion-icon name="close" color="light" *ngIf="kycVerifiedFailed"></ion-icon>
                                <ion-spinner name="bubbles" color="light" *ngIf="!kycVerified"></ion-spinner>
                                Verification Status
                            </li>
                        </ul-->

                    <!--div class="success-div" *ngIf="setupSuccessShow">
                            <div class="success-icon"></div>
                            <h4>Success!!</h4>
                            <p text-center>Click next to take your Wallet backup</p>
                        </div>
                        <div class="error-div" *ngIf="setupErrorShow">
                            <div class="error-icon"></div>
                            <h4>Something went wrong</h4>
                            <p text-center>Please try again later</p>
                        </div-->

                    <p *ngIf="setupErrorShow" style="margin:20px 0px"> The information submitted did not matched
                        the details provided.</p>

                    <ion-row *ngIf="false">
                        <ion-col class="text-right">
                            <button ion-button (click)="nextSlide()" [disabled]="!nextSlideEnabled" class="mybtn">
                                Continue <ion-icon item-end md="ios-arrow-forward" ios="ios-arrow-forward"></ion-icon></button>
                        </ion-col>
                    </ion-row>

                    <!--div class="bottom-nav-btns">
                        
                        <button ion-button block color="brand" class="bottom" [disabled]="!nextSlideEnabled" (click)="nextSlide()">{{footerButtonText}}</button>
                        </div-->
                </ion-card-content>
            </ion-card>
        </ion-slide>


        <!-- <ion-slide>
            <h4>Account Backup</h4>
            <ion-card>
                <ion-card-content class="accountbk-bg">

                    <p text-left><span><b>Save a wallet backup to your device</b></span></p>
                    <p>We recommend you save a copy of this backup to a different device or computer.</p>
                    <p>&nbsp;</p>

                    <ion-row>
                        <ion-col class="text-right">
                            <button ion-button (click)="nextSlide()" class="mybtn-red" [disabled]="!nextSlideEnabled">Save
                                to Device</button>
                        </ion-col>
                    </ion-row>
                </ion-card-content>
            </ion-card>
        </ion-slide>
        <ion-slide>
            <h4>Account Backup</h4>
            <ion-card *ngIf="false">
                <ion-card-content class="accountbk-bg">
                    <ion-row>
                        <ion-col text-center>
                            <button class="roundbtn">
                                <ion-icon md="md-checkmark"></ion-icon>
                            </button>
                            <h4>Backup Successful</h4>
                        </ion-col>
                    </ion-row>
                    <ion-row>
                        <ion-col text-left>
                            <p>Please remember to move your wallet backup file to a different device or computer,
                                and store it safely and securely.</p>
                        </ion-col>
                    </ion-row>

                    <ion-row>
                        <ion-col class="text-right">
                            <button ion-button (click)="nextSlide()" class="mybtn"> Go to my account </button>
                        </ion-col>
                    </ion-row>

                </ion-card-content>
            </ion-card>
        </ion-slide> -->

        

        <!-- <ion-slide>
                <h4>Finishing Setup</h4>
                <ion-card>
                    <ion-card-content>
                        <ul class="list-unstyled">
                            <li> <ion-icon name="checkmark"></ion-icon> Account Creation</li>
                            <li> <ion-icon name="checkmark"></ion-icon> Connect to CasinoCoin Server</li>
                            <li> <ion-icon name="close"></ion-icon> Account Activation</li>
                        </ul>
                        <div class="error-div">
                            <div class="error-icon"></div>
                            <h4>Something went wrong</h4>
                            <p text-center>Please try again later</p>
                        </div>
                        <button ion-button block color="brand" class="bottom" >Go back</button>
                    </ion-card-content>
                </ion-card>
            </ion-slide>
            <ion-slide>
                <h1>KYC Verification</h1>
                <p>You must now start the validation of your identity by submitting an official ID. Please have a real document ready. You can not use a photo copy or otherwise as it will not pass the verification.</p>
                <p>Selected Country: <b>{{fgPersonalInfo.value.nationality}}</b></p>
                <button ion-button (click)="runNetverify()" *ngIf="!documentSubmitted">Start Document Verification</button>
            </ion-slide> 
            <ion-slide>
                <h1>Finishing BRM Setup</h1>
                <ion-grid>
                    <ion-row class="status-row">
                        <ion-col width-67 text-left>Account Creation</ion-col>
                        <ion-col width-33 text-center>
                            <ion-icon name="checkmark" color="brand" *ngIf="accountCreated"></ion-icon>
                            <ion-icon name="close" color="brand" *ngIf="accountCreatedFailed"></ion-icon>
                            <ion-spinner name="bubbles" color="brand" *ngIf="!accountCreated"></ion-spinner>
                        </ion-col>
                    </ion-row>
                    <ion-row class="status-row" *ngIf="accountCreated">
                        <ion-col width-67 text-left>Connect to CasinoCoin Server</ion-col>
                        <ion-col width-33 text-center>
                            <ion-icon name="checkmark" color="brand" *ngIf="cscConnected"></ion-icon>
                            <ion-icon name="close" color="brand" *ngIf="cscConnectedFailed"></ion-icon>
                            <ion-spinner name="bubbles" color="brand" *ngIf="!cscConnected"></ion-spinner>
                        </ion-col>
                    </ion-row>
                    <ion-row class="status-row" *ngIf="cscConnected">
                        <ion-col width-67 text-left>Account Activation</ion-col>
                        <ion-col width-33 text-center>
                            <ion-icon name="checkmark" color="brand" *ngIf="accountActivated"></ion-icon>
                            <ion-icon name="close" color="brand" *ngIf="accountActivatedFailed"></ion-icon>
                            <ion-spinner name="bubbles" color="brand" *ngIf="!accountActivated"></ion-spinner>
                        </ion-col>
                    </ion-row>
                    <ion-row class="status-row" *ngIf="accountActivated">
                        <ion-col width-67 text-left>Check Account KYC Status</ion-col>
                        <ion-col width-33 text-center>
                            <ion-icon name="checkmark" color="brand" *ngIf="kycVerified"></ion-icon>
                            <ion-icon name="close" color="brand" *ngIf="kycVerifiedFailed"></ion-icon>
                            <ion-spinner name="bubbles" color="brand" *ngIf="!kycVerified"></ion-spinner>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide> -->


    </ion-slides>
    
    <br><br><br>

	
	
	
	
</ion-content>

<div class="custom-kbcontainer" *ngIf="showCustomPin">
    <ion-grid text-center>
        <ion-row>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('1')">1</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('2')">2</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('3')">3</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('4')">4</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('5')">5</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('6')">6</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('7')">7</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('8')">8</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('9')">9</button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <button ion-button round large outline (click)="clearPin()">Clear</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="handlePinInput('0')">0</button>
            </ion-col>
            <ion-col>
                <button ion-button round large outline (click)="backspacePin()">
                    <ion-icon name="backspace"></ion-icon>
                </button>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>


<ion-footer *ngIf="slider.getActiveIndex() != 6">
    <ion-toolbar>
        <ion-row>
            <ion-col><img width="100%" height="10px" src="assets/imgs/trans-pix.png" /></ion-col>
            <!--p text-left class="f-link" (click)="showContent()">FAQs</p> 
	<ion-col><p text-right class="f-link"><a href="">Terms and Conditions</a></p>
	</ion-col-->
        </ion-row>
    </ion-toolbar>
</ion-footer>