<ion-list>
  <ion-item (click)="redirectToSendPage()">Send Coins</ion-item>
  <ion-item (click)="copyAccountID()">Copy AccountID</ion-item>
  <ion-item (click)="deleteContact()">Delete Contact</ion-item>
</ion-list>