<ion-header>
    <ion-navbar color="navbarColor">
        <!--button ion-button menuToggle right>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            <ion-grid>
                <ion-row justify-content-start align-items-center>
                <ion-col col-6>
				<ion-row>
						<img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
					</ion-row>
				</ion-col>
                <ion-col col-4>
                </ion-col>
                </ion-row>
            </ion-grid>
        </ion-title-->
		 <ion-title>
      
			<button ion-button menuToggle right>
				<ion-icon name="menu"></ion-icon>
			</button>
		      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
		  
    </ion-title>
    </ion-navbar>
</ion-header>

<ion-content no-bounce padding>
    <h3 text-center>KYC</h3>
    <h2 *ngIf="showPending">KYC Pending</h2>
    <h2 *ngIf="showStatus">KYC Status</h2>
    <ion-card *ngIf="showStatus">
        <ion-row>
          <ion-col col-8>{{brmService.currentUser.KYCStatus.Status}}</ion-col>
          <ion-col col-4><button ion-button small class="mybtn-red" *ngIf="showUpload" (click)="startNetverify()">Verify</button></ion-col>
        </ion-row>        
    </ion-card>
    <h2 *ngIf="showDetails">KYC Result</h2>
    <ion-card *ngIf="showDetails">
        <ion-row>
            <ion-col col-6>Type :</ion-col>
            <ion-col col-6>{{type}}</ion-col>
        </ion-row> 
        <!-- <ion-row>
            <ion-col col-6>First Name :</ion-col>
            <ion-col col-6>{{firstName}}</ion-col>
        </ion-row> 
        <ion-row>
            <ion-col col-6>Last Name :</ion-col>
            <ion-col col-6>{{lastName}}</ion-col>
        </ion-row>  -->
        <ion-row>
            <ion-col col-6>Full Name :</ion-col>
            <ion-col col-6>{{firstName}} {{lastName}}</ion-col>
        </ion-row> 
        <ion-row>
            <ion-col col-6>Date of Birth :</ion-col>
            <ion-col col-6>{{dob}}</ion-col>
        </ion-row> 
        <ion-row>
            <ion-col col-6>Card Number :</ion-col>
            <ion-col col-6>{{number}}</ion-col>
        </ion-row> 
    </ion-card> 

    <ion-list *ngIf="showInputs">
        <h5>{{message}}</h5>
        <!-- <ion-item *ngIf="firstNameInputShow">
            <ion-label color="primary" stacked>First Name</ion-label>
            <ion-input placeholder="First Name" [(ngModel)]="brmService.currentUser.Firstname"></ion-input>
        </ion-item>
        <ion-item *ngIf="firstNameInputShow">
            <ion-label color="primary" stacked>Middle Name</ion-label>
            <ion-input placeholder="Middle Name" [(ngModel)]="brmService.currentUser.Middlename"></ion-input>
        </ion-item>
        <ion-item *ngIf="lastNameInputShow">
            <ion-label color="primary" stacked>Last Name</ion-label>
            <ion-input placeholder="Last Name" [(ngModel)]="brmService.currentUser.Lastname"></ion-input>
        </ion-item> -->

        <ion-item *ngIf="fullNameInputShow">
            <ion-label color="primary" stacked>Full Name</ion-label>
            <ion-input placeholder="Full Name" [(ngModel)]="brmService.currentUser.Fullname"></ion-input>
        </ion-item>
        <ion-item *ngIf="dobInputShow">
            <ion-label stacked>Date of Birth</ion-label>
            <ion-datetime *ngIf="!isCordova" displayFormat="DD-MMM-YYYY" [(ngModel)]="brmService.currentUser.DateOfBirth"></ion-datetime>
            <ion-input *ngIf="isCordova" type="text" [(ngModel)]="dobDisplay" (ionFocus)="selectCordovaDateOfBirth()" 
                #birthDate readonly></ion-input>
        </ion-item>
        <button ion-button (click)="validateAndUpdateUser()">Submit</button>
    </ion-list>
    <!-- <h2>Last Update</h2> {{lastUpdate}} -->
</ion-content>
  