page-kyc {
	
	/*h1, h2 {  
		color:#bf0a0a;
	}*/
	h2 {
    font-size: 16px;
	}
	h3 {
    color: #bf0a0a;
    /* font-family: 'Raleway', sans-serif;
    font-weight: 700;*/
	font-family:"Europa";
	font-weight:bold;
    font-size: 18px;
	}
	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	padding:4px 0px;
	}
	.back-button-ios{
		padding-left:16px;
	}
	ion-title .himg {
   margin:10px 0px 0px -48px;
	}
	.topnavbtn {
		 color:#ffffff;
		 float:left;
		 background:none!important;
		 font-size: 22px;
		margin: 5px 0px;
		padding: 10px;
	 }
	 .mybtn-red {
    margin: 0 auto;
	margin-bottom:10px;
    width: 100%;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	box-shadow:none;
	background-color: #bf0a0a!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif; 
		font-weight:600; 
	font-family: 'Roboto', sans-serif;*/
	height:48px;
	}

}