responsible-gaming-popover {

   .limits-popover ion-list {
        margin:0px;    
   }

   .limits-popover .item-md {    
        padding:10px;
   }
   .limits-popover{
    background-color:#f1f1f1!important;
   }
   .limits-popover .label-md {
       color:#000000!important;
       
   }
}
