<div class="limits-popover" *ngIf="!showCheckbox">
  <ion-list *ngFor="let operator of operators" (click)="onSingleClick(operator.OperatorID, operator.DisplayName)">
    <ion-item>
      {{operator.DisplayName}} &nbsp;
      <ion-icon name="checkmark" *ngIf="haveLimits(operator.OperatorID)"></ion-icon>
    </ion-item>
  </ion-list>
  <ion-item (click)="onAllCasinoClick()">
    All Casinos
  </ion-item>
</div>

<div class="limits-popover" *ngIf="showCheckbox">
  <ion-list *ngFor="let operator of operators">
    <ion-item>
      <ion-label>{{operator.DisplayName}}</ion-label>
      <ion-checkbox [(ngModel)]="operator.Selected"></ion-checkbox>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-label>All Casinos</ion-label>
    <ion-checkbox [(ngModel)]="allCasinos"></ion-checkbox>
  </ion-item>
  <button ion-button full (click)="onMultiSelect()">OK</button>
</div>