page-link-account {
    .fixedToggleLabel {
        min-width: 30% !important;
        max-width: 30% !important;
    }
	ion-header .title {
		position: absolute;
		left: 0px;
		top: 0px;
		height: 100%;
		width: 100%;
		text-align: center;
		z-index:-1;
	}
	.toolbar-title-ios {
    padding: 12px 12px 0px 12px;
	}
	.toolbar-ios {
	min-height:56px!important;
	padding:4px 0px;
	}
	.back-button-ios{
		padding-left:16px;
	}
	
	h3 {
    color: #bf0a0a;
    /* font-family: 'Raleway', sans-serif;
    font-weight: 700; */
	font-family:"Europa";
	font-weight:bold;
    font-size: 18px;
	}
	h1 {  
	color:#bf0a0a;
	/* font-family: 'Raleway', sans-serif;
		font-weight:700; */
		font-family:"Europa";
	font-weight:bold;
		font-size:18px;
	}
	.toggle-md.toggle-checked .toggle-icon , .toggle-ios.toggle-checked .toggle-icon {
    background-color: #4dd865;
	}
	.toggle-md.toggle-checked .toggle-inner, .toggle-ios.toggle-checked .toggle-inner {
    background-color: #fff;
	}
	h2 {
		color:#000000;
		font-size:17px;
	}
	ion-label.label-md, ion-label.label-ios {
		color:#000000!important;
	}
	.scanqr {
		float:right;
		position: relative;
    z-index: 200;
    margin: -20px 0px;
	}
	.scanqr button{
		height: 68px;
		border-radius:7px; /* 50%;*/
		font-size: 15px; /*18px;*/
		width: 68px;
		text-align:center;
		/*box-shadow: 1px 3px 5px 1px rgba(0, 0, 0, 0.2);*/
		box-shadow:none;
	}
	.scanqr ion-icon{
		font-size:36px; /*30px;*/
	}
	.mybtn-red {
    margin: 0 auto;
	margin-bottom:10px;
    width: 100%;
	color:#ffffff;
	text-transform:capitalize;
	border-radius:7px;
	/*box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -webkit-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
   -moz-box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.3);
	background: linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -webkit-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -moz-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -ms-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: -o-linear-gradient(top, #bf0a0a, #6a1616);
   background-image: linear-gradient(to bottom, #bf0a0a, #6a1616);*/
	box-shadow:none;
	background-color:#bf0a0a!important;
	font-size:1.6rem!important;
	/* font-family: 'Raleway', sans-serif; 
		font-weight:600; 
	font-family: 'Roboto', sans-serif;*/
	height:48px;
	}
}
