<ion-header>
        <ion-navbar color="navbarColor">
            <!--button ion-button menuToggle right>
                <ion-icon name="menu"></ion-icon>
            </button-->
	 <ion-title>
      
			<button ion-button menuToggle right>
				<ion-icon name="menu"></ion-icon>
			</button>
		      <img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
		  
    </ion-title>
            <!--ion-title>
                <ion-grid>
                    <ion-row justify-content-start align-items-center>
                    <ion-col col-6>
					
					<ion-row>
						<img height="31" width="auto" src="assets/imgs/casinocoin_logo.svg" />
					</ion-row>
					</ion-col>
                    <ion-col col-4>
                    </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-title-->
        </ion-navbar>
    </ion-header>
    
    
    <ion-content no-bounce padding>
        <h3 text-center>Link CasinoCoin Account</h3>        
        <ion-list padding>
            <ion-item>
                <ion-label fixed class="fixedToggleLabel" >Active</ion-label>
                <ion-toggle [(ngModel)]="userProfile.LinkedAccount.Active" color="brand" (ionChange)="onLinkActiveChange()"></ion-toggle>
            </ion-item>
        </ion-list>
		
        <ion-list *ngIf="userProfile.LinkedAccount.Active">
			<div class="scanqr">
		  <button ion-button item-end icon-right color="brand" (click)="scanQRCode()">
				<span><ion-icon name="qr-scanner" style="padding-right: 10px;"></ion-icon><br>Scan</span>
		  </button>
		</div>
            <ion-list *ngIf="!linkDetailShow">
                <ion-item>
                    <ion-label color="primary" stacked style="margin-bottom:10px;">Link to Mobile or Desktop CSC Account</ion-label>
                    <ion-input type="text" placeholder="Enter Account ID" [(ngModel)]="accountID" required name="accountId" #accountId="ngModel" minlength="25" maxlength="35"></ion-input>
                    <!--button ion-button item-end icon-right color="primary" (click)="scanQRCode()" style="height:38px;">
                        <span><ion-icon name="qr-scanner" style="padding-right: 10px;"></ion-icon>Scan</span>
                    </button-->
                </ion-item> 
                <!-- <ion-item>
                    <ion-label color="primary" stacked>Valid upto</ion-label>
                    <ion-input value="30 Days" [disabled]="true"></ion-input>                   
                </ion-item> -->
                <div text-center style="margin-top: 15px; margin-bottom: 15px;">
                    <button type="submit" ion-button color="primary" [disabled]="accountId.invalid" (click)="linkAccount()" item-end icon-left class="mybtn-red">
                    <ion-icon name="icon-send"></ion-icon>Link Account
                    </button>
                </div>        
            </ion-list>
            <ion-grid *ngIf="linkDetailShow">
                <ion-item>
                    <p>Account ID : </p> {{accountID}}
                </ion-item>
                <ion-item>
                    <p>Last Updated : </p> {{lastUpdated}}
                </ion-item>
                <br><br>
                <button ion-button round color="primary" (click)="changeLinkDetails()">Change</button>
            </ion-grid>
        </ion-list>
    </ion-content>
    